﻿@using FH.Web.Security;
@using FH.User.Entities;
@model IEnumerable<PropertyLead>
@{
   // string agentId = System.Configuration.ConfigurationManager.AppSettings["AgentId"].ToString();
}

<div class="agent-bg pt-4 pb-4">
    <div class="container">
        <div class="float-left">
            <h1>My Leads</h1>
        </div>
        @*<div class="float-right">
            <p class="font-weight-bold">Agent ID: @agentId@EncreptDecrpt.Decrypt(CurrentUser.User.UserId)</p>
        </div>*@
        <div class="clearfix"></div>
        <div class="content-box p-3">            
            @if (Model != null && Model.Count() > 0)
            {
                <div class="static-modal-box">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Lead ID</th>
                                <th>Property Id</th>
                                <th>Name</th>
                                <th>Mobile</th>
                               @* <th>Gender</th>
                                <th>Locality</th>*@
                                <th>Source</th>
                                <th>Lead Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                {
                            <tr>
                                <td>@item.LeadId</td>
                                <td>@item.PropertyId</td>
                                <td>@item.LeadName</td>
                                <td>@item.LeadMobile</td>
@*                                <td>@item.TenantGender</td>
                                <td>@item.Locality</td>*@
                                <td>@item.LeadSource</td>
                                <td>@item.CreatedOn.ToString("dd MMM yyyy")</td>
@*                                <td>@(item.LeadCreatedOn != null ? ((DateTime)item.LeadCreatedOn).ToString("dd MMM yyyy") : "")</td>
                                <td>
                                    <button class="btn btn-primary btn-primary-border bottom_schedule_modal_btn"
                                            onclick="getTracingStaus(@item.UserId)">
                                        Track
                                    </button>
                                </td>*@
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h4>No Lead Found...</h4>
            }
        </div>
    </div>
</div>

<div class="modal" id="leadLogModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tracing Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="leadLogModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function getTracingStaus(pid, th) {
        if (pid != "" && pid != undefined) {
            loading.show(th);
            $.post("/mylead/GetLeadLog", { lead: pid }, function (data, status) {
                $('#leadLogModalBody').html(data);
                $('#leadLogModal').modal('show');
                loading.hide(th,'Tracing Status');
            });
        }
    }

    function addNewLead() {
        var name = $('#leadName').val().trim();
        var mobile = $('#leadMobile').val().trim();
        var email = $('#leadEmail').val().trim();
        var requirement = $('#leadRequirement').val().trim();

        if (name == "")
            return showError('Name required.');
        else if (name.length > 50)
            return showError("Name can't be more than 50 characters.");

        if (!validateMobile(mobile))
            return showError('Invalid mobile no.');

        if(email !="" && !validateEmail(email))
            return showError('Invalid email.');
        if(email.length > 50)
            return showError("Email can't be more than 50 characters.");

        if (requirement == "" || requirement == undefined)
            return showError('Client requirement required.');
        else if (requirement.length > 500)
            return showError("Client requirement text can't be more than 500 characters.");

        loading.show('#btnAddLead');        
        $.ajax({
            url: "/MyLead/AddNewLead",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ VisitorName: name, VisitorEmail: email, VisitorMobile: mobile, VisitorRequirement: requirement }),
            success: function (data, status) {
                if (data.Success == true)
                { showSuccessMessage(data.Message); location.reload(); }
                else if (data.Success == false) {
                    showError(data.ErrorMessage);
                }
            },
            complete: function () {
                loading.hide('#btnAddLead','Submit');        
            }
        });
    }
</script>
<style>
    .table th {
        background: #BA68C8 !important;
        color: #fff;
    }
    .agent-nav ul li:nth-child(3) a {
        background: #F3E5F5;
        color: #555;
        font-weight: 700;
    }
    .agent-nav ul li:nth-child(3) a tel{
        background: #F3E5F5;
        color: #555;
        font-weight: 700;
    }
    .agent-nav ul li:nth-child(1) a {
        background: #BA68C8 !important;
    }
    .agent-nav ul li:nth-child(2) a {
        background: #9234ab !important;
    }
    .agent-nav ul li:nth-child(4) a {
        background: #a53cb6 !important;
    }
    header {
        width: 100%;
        height: auto;
        padding: 15px 0px;
        border-bottom: 1px solid #ccc;
    }
    .btn-primary:visited {
        border: 1px solid #da241a !important;
        background: #9234ab !important;
        outline: 0px !important;
        border: 0px !important;
        box-shadow: none !important;
    }
    .btn-primary-border {
        background: none !important;
        border: 2px solid #4A148C !important;
        color: #4A148C;
        font-size: 13px !important;
    }
    .phone-circle {
        border: 1px solid #ccc;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 18px;
        color: #4A148C;
        transform: rotate(90deg);
    }
    .btn-primary {
        background: #9234ab;
        transition: all 0.45s;
        border: 0px;
    }
</style>