﻿@using FH.User.Entities;
@model IEnumerable<PropertyLead>

        @if (Model != null && Model.Count() > 0)
        {
            var visitorDetail = Model.FirstOrDefault();
            <div class="my-lead-box">
                <div class="row">
                    <div class="col-12">
                        <h4 class="mb-1">@(string.IsNullOrEmpty(visitorDetail.VisitorName) ? "NA" : visitorDetail.VisitorName)</h4>
                        <p class="m-0">@(string.IsNullOrEmpty(visitorDetail.VisitorMobile) ? "NA" : visitorDetail.VisitorMobile)</p>
                        <p class="m-0">@(string.IsNullOrEmpty(visitorDetail.VisitorEmail) ? "NA" : visitorDetail.VisitorEmail)</p>
                    </div>
                </div>
            </div>
            <div class="row">              
                 <div class="col-12">                    
                        <div class="row">                            
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" style="font-size:12px;">
                                        <thead>
                                            <tr>
                                                <th>Visit Date Time</th>                                                
                                                <th>Current Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>@(!string.IsNullOrEmpty(item.VisitDate) ? Convert.ToDateTime(item.VisitDate).ToString("dd MMM yyyy")+" "+item.VisitTime: "NA")</td>                                                
                                                <td>
                                                    @if (!string.IsNullOrWhiteSpace(item.LeadStatus))
                                                    {
                                                        if (item.LeadStatus.ToUpper() == "NEW")
                                                        {<p class="m-0 text-secondary font-weight-bold">@item.LeadStatus</p>}
                                                        else if (item.LeadStatus.ToUpper() == "CANCELED")
                                                        {<p class="m-0 text-danger font-weight-bold">@item.LeadStatus</p>}
                                                        else
                                                        {<p class="m-0 text-success font-weight-bold">@item.LeadStatus</p>}
                                                    }
                                                    else
                                                    {
                                                        <p class="m-0 text-secondary font-weight-bold">@item.LeadStatus</p>
                                                    }
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                    
                </div>              
            </div>
        }
