﻿@using FH.User.Entities;
@*@model IEnumerable<UserDetail>*@



<style>
    @@media (min-width: 700px) {
        .propIdAcc {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .btn-primary:hover {
        color: #AB47BC;
        background: white !important;
        border: 1px solid #AB47BC !important;
    }
</style>

<div class="agent-bg pt-4 pb-4" id="dvMyTenant">
    <div class="container">
        <div class="float-left">
            <h1>My Team</h1>
        </div>
        <div class="clearfix"></div>

        <div class="pt-1" style="border: 2px solid; padding: 10px; border-radius: 5px;">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control mt-1" id="UserType">
                        <option value="Receptionist">Receptionist</option>
                        <option value="Sales">Sales</option>
                    </select>
                </div>
                <div class="col-sm-3" id="propertyIdDiv">
                    <div class="form-group">
                        <select class="form-control mt-1" name="PropertyId1" id="PropertyId1">
                            <option value="">No Properties</option>
                            @if (ViewBag.PorpertyList != null)
                            {
                                foreach (var item in ViewBag.PorpertyList)
                                {
                                    <option value="@item.PropertyId">@item.PropertyId</option>
                                }
                            } 
                        </select>
                    </div>
                    @* <input type="text" class="form-control mt-1" id="PropertyId" placeholder="Property Id" />*@
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control mt-1" id="Name" placeholder="Name" />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control mt-1" id="Mobile" placeholder="Mobile" />
                </div>
                <div class="col-sm-2">
                    <button id="AccountAdd" onclick="AccountAdd()" class="btn-primary btn form-control mt-1">Add Team</button>
                </div>
            </div>
        </div>

        <div class="pt-1">
            <div class="row">
                <div class="col-md-12">
                    @if (Model != null)
                    {
                        var showdata = "type='text'";
                        var selected = "Selected";
                        var hidedata = "type=hidden";
                        foreach (var item in Model)
                        {
                            <div style=" box-shadow: 0 0 10px rgba(0,0,0,.32); margin-bottom:10px;padding:10px;">
                                <div class="row">
                                    <div class="col-sm-1 col-12">@item.UserId</div>
                                    <div class="col-sm-1 col-6 propIdAcc mt-1">
                                        @if(item.UserType == "Receptionist")
                                        {
                                            <select class="form-control" id="PropertyId_@item.UserId">
                                                <option value="">No Properties</option>
                                                @if (ViewBag.PorpertyList != null)
                                                {
                                                    foreach (var PorpertyList in ViewBag.PorpertyList)
                                                    {
                                                        <option value="@PorpertyList.PropertyId" @(item.PropertyId.ToString() == PorpertyList.PropertyId.ToString() ? "selected" : "")>@PorpertyList.PropertyId</option>
                                                    }
                                                }
                                            </select>
                                        } 
                                        </div>
                                    <div class="col-sm-2 col-6 mt-1"><input type="text" class="form-control" id="Name_@item.UserId" value="@item.Name" /></div>
                                    <div class="col-sm-2 col-6 mt-1"><input type="text" class="form-control" id="Mobile_@item.UserId" value="@item.Mobile" /></div>
                                    <div class="col-sm-2 col-6 mt-1">
                                        <select class="form-control userTypeField" id="UserType_@item.UserId">
                                            <option value="Receptionist" @if (item.UserType == "Receptionist") { @selected }>Receptionist</option>
                                            <option value="Sales" @if (item.UserType == "Sales") { @selected }>Sales</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 col-6 mt-1">
                                        <select class="form-control" id="IsActive_@item.UserId">
                                            <option value="false" @if (item.IsActive == false) { @selected }>InActive</option>
                                            <option value="true" @if (item.IsActive == true) { @selected }>Active</option>
                                        </select>
                                        @*                                            <input type="text" class="form-control" id="IsActive_@item.UserId" value="@item.IsActive" />*@
                                    </div>
                                    <div class="col-sm-2 col-6 mt-1">
                                        <button id="AUPDT_@item.UserId" onclick="UpdateTeam(@item.UserId)" class="btn-primary btn form-control">Update</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    No Data Available
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>



</div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>




<script>
    $(document).ready(function () {

        $('#mytable').DataTable({
            "paging": false,
            dom: 'Bfrtip',
            buttons: [

            ],
        });

        //,propertyIdDiv
        $("#UserType").change(function () {
            console.log("hello");
            var UserType = $("#UserType").val();
            if (UserType == "Sales") {
                $("#PropertyId").val("0");
                $("#propertyIdDiv").hide();
            } else {
                $("#propertyIdDiv").show();
            }
        });

        $(".userTypeField").change(function () {
            var id = $(this).attr("id");
            var UserType = $(this).val();
            id = id.split("_");
            id = id['1'];
            console.log("hello to console" + UserType + " " + id);
            if (UserType == "Sales") {
                $("#PropertyId_" + id).hide();
                $("#PropertyId_" + id).val("0");
            } else {
                $("#PropertyId_" + id).show();
            }
        });

    });
</script>
<style>

    .container {
        max-width: 1295px;
    }

    .agent-nav ul li:nth-child(4) a {
        background: #F3E5F5 !important;
        color: #555;
        font-weight: 700;
    }

    .agent-nav ul li:nth-child(2) a {
        background: #9234ab;
    }

    .agent-nav ul li:nth-child(1) a {
        background: #BA68C8 !important;
    }

    .agent-nav ul li:nth-child(3) a {
        background: #b955ca !important;
    }

    .btn-primary {
        background: #AB47BC;
        transition: all 0.45s;
        border: 1px solid #AB47BC;
    }

    .table th {
        background-color: #BA68C8 !important;
        color: #fff;
    }

    .btn-primary:visited {
        border: 1px solid #da241a !important;
        background: #9234ab !important;
        outline: 0px !important;
        border: 0px !important;
        box-shadow: none !important;
    }

    .phone-circle {
        border: 1px solid #4A148C;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 18px;
        color: #4A148C;
        transform: rotate(90deg);
    }

    .float-right {
        float: right !important;
        margin-left: 12px;
    }
</style>

<script>
    function AccountAdd() {
        var PropertyId = $("#PropertyId1").val();
        var Name = $("#Name").val();
        var Mobile = $("#Mobile").val();
        var UserType = $("#UserType").val();

        loading.show("#AccountAdd");
        if (Name != '' && Mobile != '' && UserType != '') {
            $.post("/Myteam/AccountAdd",
                { PropertyId: PropertyId, Name: Name, Mobile: Mobile, UserType: UserType }
                , function (data) {
                    if (data.Success) {
                        showSuccessMessage(data.Message);
                        window.location.href = "";
                    }
                    else
                        showError(data.Message);
                    loading.hide("#AccountAdd", 'Add Team');
                });
        } else {
            showError("Please fill all data.");
            loading.hide("#AccountAdd", 'Add Team');
        }
    }


    function UpdateTeam(UserId) {
        var PropertyId = $("#PropertyId_" + UserId).val();
        var Name = $("#Name_" + UserId).val();
        var Mobile = $("#Mobile_" + UserId).val();
        var IsActive = $("#IsActive_" + UserId).val();
        var UserType = $("#UserType_" + UserId).val();

        loading.show("#AUPDT_" + UserId);
        if (PropertyId != '' && Name != '' && Mobile != '' && UserType != '') {
            $.post("/Myteam/AccountUpdate",
                { UserId: UserId, Name: Name, PropertyId: PropertyId, Mobile: Mobile, IsActive: IsActive, UserType: UserType }
                , function (data) {
                    if (data.Success) {
                        console.log(data);
                        showSuccessMessage(data.Message);
                        //window.location.href = "";
                    }
                    else
                        showError(data.ErrorMessage);
                    loading.hide("#AUPDT_" + UserId, 'Update');
                });
        } else {
            showError("Please fill all data.");
            loading.hide("#AUPDT_" + AccountId, 'Update');
        }
    }

    function getTenantPaymentLog(tId) {
        if (tId > 0) {
            $.get("/mytenant/getTenantPaymentLog", { tenantId: tId }, function (data) {
                if (data.Success == false) {
                    showError("Something went wrong,Please try again.");
                    return;
                }
                else {
                    $('#tenantLogModel').remove();
                    $('body').append(data);
                    $('#tenantLogModel').modal('show');
                }
            });
        }
    }

    function closeModel() {
        $('#tenantLogModel').modal('hide');
        $('#tenantLogModel').remove();
    }
</script>
