﻿@using FH.Agent_Web.ViewModel;
@model VMPackage
@{
    var AgentUrl = Request.IsLocal ? "" : System.Configuration.ConfigurationManager.AppSettings["AgentUrl"];
}


<div class="pt-4 pb-4" id="dvMyTenant">
    <div class="container">
        <div class="text-center">
            <h1>Our Packages</h1>
        </div>
        <div class="clearfix"></div>

        <div id="selectedPlanDetails"></div>

        <div class="search-list-box" style="width: 80%; margin: 0 auto;">
            <div class="card" style="width:100%;">
                <div class="row">
                    <div class="col-12">
                        <h2 class="property_detail_title2">Get your Plan</h2>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-sm-6">
                        <div class="dv-list-item payment-type" id="plateformPlan" style="background-color: lightblue; float:right;" data-key="rent" >Platform Plans</div>
                    </div>
                    <div class="col-6 col-sm-6">
                        <div class="dv-list-item payment-type" id="leadPlan" style="background-color: lightgreen;" data-key="rent">Lead Plans</div>
                    </div>
                    <div class="col-12 splanDiv" id="ppdiv" style="display:none;">
                        <div class="row">
                            <div class="col-sm-3 col-3"></div>
                            <div class="col-sm-6 col-6">
                                <div class="form-field  ml-lg-1">
                                    <select id="platformSelectPlan" class="selectBoxC form-control">
                                        <option value="" disabled selected style="color: #999;">--Choose Plan--</option>
                                        @if (Model.Plans != null)
                                        {
                                            foreach (var item in Model.Plans.Where(p => p.Category == "PLATEFORMPLAN")) // Assuming IDs 1-4 are for platform plans
                                            {
                                                <option value="@item.PlanId" data-plan-id="@item.PlanId" data-validity="@item.Validity"> @item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 splanDiv" id="lpdiv" style="display:none;">
                        <div class="row">
                            <div class="col-sm-3 col-3"></div>
                            <div class="col-sm-6 col-6">
                                <div class="form-field  ml-lg-1">
                                    <select id="leadSelectPlan" class="selectBoxC form-control">
                                        <option value="" disabled selected style="color: #999;">--Choose Plan--</option>
                                        @if (Model.Plans != null)
                                        {
                                            foreach (var item in Model.Plans.Where(p => p.Category == "LEADPLAN"))
                                            {
                                                <option value="@item.PlanId" data-plan-id="@item.PlanId" data-validity="@item.Validity"> @item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="row paytype rent">
                    <div class="col-sm-3 col-3 mt-1">

                    </div>
                    @if (Model.Plans != null)
                    {
                        foreach (var item in Model.Plans)
                        {
                            <div class="col-6 platformPlanDetails mt-1" id="platform-plan-@item.PlanId" style="display: none;">
                                <div class="form-group">
                                    <input type="text" id="platformRentAmount" value=" @item.Price" class="form-control" data-rent="@item.Price" readonly />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="platformRentForMonthStartDate" value="" class="form-control" placeholder="From Date" readonly />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="platformRentForMonthEndDate" value="" class="form-control" placeholder="To Date" readonly />
                                </div>

                                <div class="form-group">
                                    <a class="btn btn-primary btn-primary-border" href="/plan/buyPackage?PlanId=@item.PlanId">Buy Now</a>
                                </div>
                                <div class="form-group">
                                    By Click on Pay Now <a href="https://haltn.com/term-and-condition" target="_blank">Agree Terms & Condition</a>
                                </div>
                            </div>
                        }
                    } 

                    @if (Model.Plans != null)
                    {
                        foreach (var item in Model.Plans)
                        {
                            <div class="col-6 leadPlanDetails mt-1" id="lead-plan-@item.PlanId" style="display: none;">
                                <div class="form-group">
                                    <input type="text" id="leadRentAmount" value=" @item.Price" class="form-control" data-rent="@item.Price" readonly />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="leadRentForMonthStartDate" value="" class="form-control" placeholder="From Date" readonly />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="leadRentForMonthEndDate" value="" class="form-control" placeholder="To Date" readonly />
                                </div>

                                <div class="form-group">
                                    <a class="btn btn-primary btn-primary-border" href="/plan/buyPackage?PlanId=@item.PlanId">Buy Now</a>
                                </div>
                                <div class="form-group">
                                    By Click on Pay Now <a href="https://haltn.com/term-and-condition" target="_blank">Agree Terms & Condition</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*plans orders section starts*@

<div class="agent-bg pt-4 pb-4" id="dvMyTenant" >
    <div class="container">
        <div class="float-left">
            <h1>My Plans</h1>
        </div>
        <div class="clearfix"></div>
        @*<div class="content-box p-3">
                <form action="/plan/myplans" method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="propertyId" class="form-control" value="@if (Model.PropertyId > 0) { @Model.PropertyId }" placeholder="Property ID" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>*@
        <br />
        <div class=" p-0">
            <div class="row">
                <div class="col-md-6">
                    @if (Model.MyPlans != null && Model.MyOrders != null)
                    {
                        foreach (var SingleOrder in Model.MyOrders)
                        {
                            <div class="search-list-box">
                                <div class="card" style="width:210%">
                                    <div class="white_box">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <h1 class="property_detail_title">Order Id (@(SingleOrder.PlanOrderID))</h1>
                                            </div>
                                            <div class="col-md-3">
                                                @if (SingleOrder.Status != 1)
                                                {
                                                    <button type="button" class=" btn btn-primary btn-primary-border" onclick="payment(@SingleOrder.PlanOrderID)">
                                                        Pay Now
                                                    </button>
                                                    <button type="button" class=" btn btn-primary btn-primary-border" onclick="deleteOrder(@SingleOrder.PlanOrderID)">
                                                        Delete Order
                                                    </button>

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row text-center  m-0">
                                            <div class="col-12  pl-1 pr-1">
                                                <p class="m-0 font-weight-bold"><b style=" font-size: 17px;"> For Properties </b></p>
                                            </div>
                                        </div>
                                        <div class="row m-0" style="border-bottom: 1px solid #bcbcad; padding-bottom: 5px; border-top: 1px solid #bcbcad; ">
                                            @foreach (var SinglePlan in Model.MyPlans)
                                            {
                                                if (SinglePlan.PlanOrderID == SingleOrder.PlanOrderID)
                                                {
                                                    <div class="col-sm-6">
                                                        <div class="row">

                                                            @*<div class="col-2 col-md-2">
                                                                    @if (SinglePlan.VarifiedTag == 1)
                                                                    {
                                                                        <img src="@AgentUrl/Content/images/varified.png" style="width:50px;" />
                                                                    } else {
                                                                        <img src="@AgentUrl/Content/images/NotVerified.png" style="width:50px;" />
                                                                    }
                                                                </div>*@
                                                            <div class="col-10 col-md-10 border-b-1 pl-1 pr-1">
                                                                <p class="m-0 font-weight-bold">@SinglePlan.Locality (@SinglePlan.PropertyId) </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    SingleOrder.Name = SinglePlan.Name;
                                                    SingleOrder.Color = SinglePlan.Color;
                                                    SingleOrder.NumberOfLeads = SinglePlan.NumberOfLeads;
                                                    SingleOrder.PlanEndDate = SinglePlan.PlanEndDate;
                                                }
                                            }
                                        </div>
                                        <div class="row text-center border-t-1 m-0">
                                            <div class="col-4 col-md-2 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold" style="color:@SingleOrder.Color">
                                                    @SingleOrder.Name
                                                </p>
                                                <p class="m-0"><small>Plan</small></p>
                                            </div>
                                            @*<div class="col-4 col-md-2 border-r-1 pl-1 pr-1">
                                                    <p class="m-0 font-weight-bold"> @SingleOrder.NumberOfLeads </p>
                                                    <p class="m-0"><small>No. of Leads</small></p>
                                                </div>*@
                                            <div class="col-6 col-md-3 border-r-1 border-b-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">
                                                    @SingleOrder.Payment
                                                    @if (SingleOrder.Status != 0)
                                                    {<span>(Paid)</span> }
                                                    else
                                                    { <span>(Not Paid)</span>}
                                                </p>
                                                <p class="m-0"><small>Payment</small></p>
                                            </div>
                                            <div class="col-6 col-md-2  border-b-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@(SingleOrder.CreatedOn != null ? ((DateTime)SingleOrder.CreatedOn).ToString("dd MMM yyyy") : "") </p>
                                                <p class="m-0"><small>Created On</small></p>
                                            </div>
                                            <div class="col-4 col-md-2 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold"> @(SingleOrder.PlanEndDate != null ? ((DateTime)SingleOrder.PlanEndDate).ToString("dd MMM yyyy") : "") </p>
                                                <p class="m-0"><small>Valid Upto</small></p>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="clearfix"></div>
                                    @*                                    <div class="p-2 pl-0">
                                            <ul class="property_btn_list dontOpen">
                                                <li>
                                                    @if (SingleOrder.Status != 1)
                                                    {
                                                        <button type="button" class=" btn btn-primary btn-primary-border" onclick="getPaymentHistory(@SingleOrder.PlanOrderID)">
                                                            Pay Now
                                                        </button>
                                                    }
                                                </li>
                                            </ul>
                                        </div>*@
                                </div>
                            </div>
                            <br />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="paymentDiv">

</div>

@*plans orders section end*@



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var platformSelectPlan = document.getElementById("platformSelectPlan");
        var leadSelectPlan = document.getElementById("leadSelectPlan");
        var platformPlanDetails = document.querySelectorAll(".platformPlanDetails");
        var leadPlanDetails = document.querySelectorAll(".leadPlanDetails");

        platformSelectPlan.addEventListener("change", function () {
            var selectedPlatformPlanId = platformSelectPlan.value;
            platformPlanDetails.forEach(function (plan) {
                if (plan.getAttribute("id") === "platform-plan-" + selectedPlatformPlanId) {
                    plan.style.display = "block";
                    var validity = platformSelectPlan.options[platformSelectPlan.selectedIndex].getAttribute("data-validity");
                    setDates(plan, validity);
                } else {
                    plan.style.display = "none";
                }
            });

            //leadPlanDetails.forEach(function (plan) {
            //    plan.style.display = "none";
            //});

        });

        leadSelectPlan.addEventListener("change", function () {
            var selectedLeadPlanId = leadSelectPlan.value;
            leadPlanDetails.forEach(function (plan) {
                if (plan.getAttribute("id") === "lead-plan-" + selectedLeadPlanId) {
                    plan.style.display = "block";
                    var validity = leadSelectPlan.options[leadSelectPlan.selectedIndex].getAttribute("data-validity");
                    setDates(plan, validity);
                } else {
                    plan.style.display = "none";
                }
            });
            //platformPlanDetails.forEach(function (plan) {
            //    plan.style.display = "none";
            //});
        });

        function setDates(plan, validity) {
            var startDateField = plan.querySelector(".form-group input[id$='RentForMonthStartDate']");
            var endDateField = plan.querySelector(".form-group input[id$='RentForMonthEndDate']");

            // Get today's date
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var yyyy = today.getFullYear();
            today = mm + '/' + dd + '/' + yyyy;

            // Calculate the end date based on validity
            var endDate = new Date();
            endDate.setDate(endDate.getDate() + parseInt(validity));

            var endDD = String(endDate.getDate()).padStart(2, '0');
            var endMM = String(endDate.getMonth() + 1).padStart(2, '0'); // January is 0!
            var endYYYY = endDate.getFullYear();
            endDate = endMM + '/' + endDD + '/' + endYYYY;

            startDateField.value = today;
            endDateField.value = endDate;
        }
    });
</script>

@*plans orders script section starts*@
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    $(document).ready(function () {
        //leadPlanDetails,platformPlanDetails
        $("#leadPlan").click(function () {
            $('.splanDiv').hide(); $('.leadPlanDetails').hide();
            $('.platformPlanDetails').hide(); $('#lpdiv').show(); });
        $("#plateformPlan").click(function () {
            $('.splanDiv').hide(); $('.leadPlanDetails').hide();
            $('.platformPlanDetails').hide(); $('.leadPlanDetails').hide();
            $('.platformPlanDetails').hide(); $('#ppdiv').show(); });

        $(".selectBoxC").change(function () {
            $('.leadPlanDetails').hide(); 
            $('.platformPlanDetails').hide(); 
        });
    });
    function payment(PlanOrderID) {
        if (PlanOrderID != '') {

            $.post("/plan/PayPackageAmount", { PlanOrderID: PlanOrderID }, function (res) {
                if (res != '') {
                    $("#paymentDiv").html(res);
                    //window.location.href = "/mytenant/tenantlist";
                }
                else
                    showError(res.Message);
            });
        }
    }

    function deleteOrder(PlanOrderID) {
        if (PlanOrderID != '') {

            $.post("/plan/DeleteOder", { PlanOrderID: PlanOrderID }, function (res) {
                if (res.Success) {
                    showSuccessMessage(res.Message);
                    window.location.href = "/plan/myplans";
                }
                else
                    showError(res.Message);
            });
        }
    }
</script>

@*plans orders script section ends*@

<style>

 

    .card {
        border-radius: 15px;
        padding: 15px;
        width: 310%;
    }

        .card p {
            font-size: 14px !important;
            font-family: cursive;
            color: #5d5c5c;
            margin-top: 13px !important;
        }

    .search-list-box {
        border-radius: 15px;
    }

    .agent-nav ul li:nth-child(4) a {
        background: #F3E5F5 !important;
        color: #555;
        font-weight: 700;
    }

    .agent-nav ul li:nth-child(3) a {
        background: #b955ca !important;
    }

    .agent-nav ul li:nth-child(1) a {
        background: #BA68C8 !important;
    }

    .agent-nav ul li:nth-child(2) a {
        background: #9234ab;
    }

    .btn-primary:visited {
        border: 1px solid #da241a !important;
        background: #9C27B0 !important;
        outline: 0px !important;
        border: 0px !important;
        box-shadow: none !important;
    }

    .btn-primary {
        background: #9C27B0;
        transition: all 0.45s;
        border: 0px;
    }

    .phone-circle {
        border: 1px solid #4A148C;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 18px;
        color: #4A148C;
        transform: rotate(90deg);
    }

    .float-right {
        float: right !important;
        margin-left: 12px;
    }
</style>
