﻿@using FH.Agent_Web.ViewModel;
@model VMMyPlan
@{
    var AgentUrl = Request.IsLocal ? "" : System.Configuration.ConfigurationManager.AppSettings["AgentUrl"];
}
<div class="title-stripe">
    <h1>My Plan</h1>
</div>
<div class="agent-bg pt-2 pb-4">
    <div class="container">
        <div class="content-box p-3">
            <form action="/plan/myplans" method="get">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Property Id: </label>
                            <input type="text" name="propertyId" class="form-control" value="@if (Model.PropertyId > 0) { @Model.PropertyId }" placeholder="Property ID" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn form-control btn-primary" style="background-color: #AB47BC">Search </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <br />
        <div class="">
            <div class="row">
                <div class="col-md-9 border border-top-0 border-right-0 border-bottom-0">
                    @if (Model.MyPlans != null && Model.MyOrders != null)
                    {
                        foreach (var SingleOrder in Model.MyOrders)
                        {
                            <div class="search-list-box">
                                <div class="card">
                                    <div class="white_box">
                                        <h1 class="property_detail_title">Order Id (@(SingleOrder.PlanOrderID))</h1>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row text-center border-b-1 m-0">
                                            <div class="col-6 border-r-1 border-b-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">
                                                    @SingleOrder.Payment
                                                    @if (SingleOrder.Status != 0)
                                                    {<span>(Paid)</span> }
                                                    else
                                                    { <span>(Not Paid)</span>}
                                                </p>
                                                <p class="m-0"><small>Payment</small></p>
                                            </div>
                                            <div class="col-6  border-b-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@(SingleOrder.CreatedOn != null ? ((DateTime)SingleOrder.CreatedOn).ToString("dd MMM yyyy") : "") </p>
                                                <p class="m-0"><small>Created On</small></p>
                                            </div>
                                        </div>
                                        <div class="row text-center  m-0">
                                            <div class="col-12  pl-1 pr-1">
                                                <p class="m-0 font-weight-bold"><b> For Properties </b></p>
                                            </div>
                                        </div>
                                        @foreach (var SinglePlan in Model.MyPlans)
                                        {
                                            if (SinglePlan.PlanOrderID == SingleOrder.PlanOrderID)
                                            {
                                                <div class="row m-0">
                                                    <div class="col-2 col-md-1">
                                                        @if (SinglePlan.VarifiedTag == 1)
                                                        {
                                                            <img src="@AgentUrl/Content/images/varified.png" style="width:50px;" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@AgentUrl/Content/images/NotVerified.png" style="width:50px;" />
                                                        }
                                                    </div>
                                                    <div class="col-10 col-md-6 border-b-1 pl-1 pr-1">
                                                        <p class="m-0 font-weight-bold">@SinglePlan.Locality (@SinglePlan.PropertyId) </p>
                                                    </div>
                                                </div>
                                                SingleOrder.Name = SinglePlan.Name;
                                                SingleOrder.Color = SinglePlan.Color;
                                                SingleOrder.NumberOfLeads = SinglePlan.NumberOfLeads;
                                                SingleOrder.PlanEndDate = SinglePlan.PlanEndDate;
                                            }
                                        }
                                        <div class="row text-center border-t-1 m-0">
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold" style="color:@SingleOrder.Color">
                                                    @SingleOrder.Name
                                                </p>
                                                <p class="m-0"><small>Plan</small></p>
                                            </div>
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold"> @SingleOrder.NumberOfLeads </p>
                                                <p class="m-0"><small>No. of Leads</small></p>
                                            </div>
                                            <div class="col-4 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold"> @(SingleOrder.PlanEndDate != null ? ((DateTime)SingleOrder.PlanEndDate).ToString("dd MMM yyyy") : "") </p>
                                                <p class="m-0"><small>Valid Upto</small></p>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="p-2 pl-0">
                                        <ul class="property_btn_list dontOpen">
                                            <li>
                                                @if (SingleOrder.Status != 1)
                                                {
                                                    <button type="button" class=" btn btn-primary btn-primary-border" onclick="payment(@SingleOrder.PlanOrderID)">
                                                        Pay Now
                                                    </button>
                                                    <button type="button" class=" btn btn-primary btn-primary-border" onclick="deleteOrder(@SingleOrder.PlanOrderID)">
                                                        Delete Order
                                                    </button>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div id="paymentDiv">

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    function payment(PlanOrderID) {
        if (PlanOrderID != '') {

            $.post("/plan/PayPackageAmount", { PlanOrderID: PlanOrderID }, function (res) {
                if (res != '') {
                    $("#paymentDiv").html(res);
                    //window.location.href = "/mytenant/tenantlist";
                }
                else
                    showError(res.Message);
            });
        }
    }

    function deleteOrder(PlanOrderID) {
        if (PlanOrderID != '') {

            $.post("/plan/DeleteOder", { PlanOrderID: PlanOrderID }, function (res) {
                if (res.Success) { 
                    showSuccessMessage(res.Message);
                    window.location.href = "/plan/myplans";
                }
                else
                    showError(res.Message);
            });
        }
    }
</script>