﻿@{ 
    var webUrl = "";
    if(!Request.IsLocal)
    {webUrl= System.Configuration.ConfigurationManager.AppSettings["WebUrl"]; }
}

<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#register">Register</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="login">
                        <div id="loginBox">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input type="number" id="LoginMobile" class="form-control" placeholder="Mobile No" maxlength="10">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    <input type="password" id="LoginPassword" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="btnLogin" class="btn btn-primary btn-block btn-spinner" onclick="login();">Login</button>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <span>Forgot Your Password?</span> <a href="#" id="btnReset" onclick="validateMobileNo();">Reset Now!</a>
                                </div>
                            </div>
                        </div>
                        <div id="resetPasswordBox" class="d_none">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                    <input type="hidden" id="ResetUser" />
                                    <input type="password" id="ResetNewPassword" class="form-control" placeholder="New Password" minlength="5" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                    <input type="password" id="ResetConfirmPassword" class="form-control" placeholder="Confirm Password" minlength="5" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="text" id="ResetOTP" class="form-control" placeholder="4 digit OTP" minlength="4" maxlength="4" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-lg" id="btnSubmitReset" onclick="ResetPassword();">Reset Passowrd</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="register">
                        <div id="regosterBox">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" id="RegName" class="form-control" placeholder="Name" maxlength="50" onkeypress="return isAlpha(event);" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input type="number" id="RegMobile" class="form-control" placeholder="Mobile No" maxlength="10" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input type="text" id="RegEmail" class="form-control" placeholder="E-mail" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    <input type="password" id="RegPassword" class="form-control" placeholder="Password" minlength="5" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3 pr-0">
                                        <p>User Type:</p>
                                    </div>
                                    <div class="col-9">
                                        @*<div class="dv-list-item user-type" data-key="Buyer">Buyer</div>*@
                                        <div class="dv-list-item user-type" data-key="Owner">Owner</div>
                                        @*<div class="dv-list-item user-type" data-key="Agent">Agent</div>*@
                                    </div>
                                </div>
                            </div>                           
                            <div class="">
                                <button class="btn btn-primary btn-block btn-lg" id="btnRegistrationVerify" onclick="registrationVerify();">Register</button>
                            </div>
                        </div>
                        <div id="verificationCode" class="d_none">
                            <div class="form-group">
                                <h5>Verify Your TeloneStay Account</h5>
                                <label>Enter 4 digit verification code sent on <span class="spn-verify-mobile"></span></label><br><br>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    <input type="hidden" id="RegistrationUser" value="" />
                                    <input type="text" id="RegistrationOTP" class="form-control" placeholder="Enter Verification Code" minlength="4" maxlength="4" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-lg" id="btnVerifyOTP" onclick="verifyOTP()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.user-type').click(function () {
        $('#register .user-type').removeClass('active');
        $(this).addClass('active');
        if ($(this).data('key') == "Buyer")
        { $('#register .buyer-agree').show(); $('#register .agent-agree').hide(); }
        else
        { $('#register .agent-agree').show(); $('#register .buyer-agree').hide(); }
    });

    function login() {
        debugger;
        var mobile = $('#LoginMobile').val().trim();
        var password = $('#LoginPassword').val();
        var mobilefilter = /^\d*(?:\.\d{1,2})?$/;

        if (mobile == "")
        { showError("Mobile no required."); return false; }
        else if (mobilefilter.test(mobile)) {
            if (mobile.length > 10)
            { showError("Invalid mobile no."); return false; }
        }
        else { showError("Invalid mobile no."); return false; }

        $('#btnLogin').html('Please Wait...<span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);
        $.post("/user/loginajax", { Mobile: mobile, Password: password }, function (data) {
            debugger;
            if (data.Success == true) 
                location.reload();
            else
            { showError(data.ErrorMessage); $('#btnLogin').html('Login').removeAttr("disabled"); }
        });
    }

    function registrationVerify() {
        var name = $('#RegName').val().trim();
        var mobile = $('#RegMobile').val().trim();
        var email = $('#RegEmail').val().trim();
        var password = $('#RegPassword').val();
        var userType = $('#register .user-type.active').data('key');
        var termCondition = 1;// $("input[name='termCondition']:checked").val();

        if (name == "")
        { showError("Name required."); return false; }
        else if (name.length > 50)
        { showError("Name can't be greater than 50 characters."); return false; }
        if (!validateOnlyAlpha(name))
            return showError("Name cann't contain numeric value and special characters.");

        if (!validateMobile(mobile))
            return showError('Invalid mobile no.');

        if (email == "")
        { showError("Email required."); return false; }
        else if (email.length > 50)
        { showError("Email must be less than 50 characters."); return false; }
        else if(!validateEmail(email))
        { showError("Invalid email."); return false; }

        if (password== "")
        { showError("Password required."); return false; }
        else if (password.length > 50)
        { showError("Password can't be greater than 50 characters."); return false; }
        else if (password.length <5)
        { showError("Password must be atleast 5 characters."); return false; }

        if (userType != "Buyer" && userType != "Owner" && userType != "Agent")
        { showError("User type required."); return false; }

        if(termCondition=="" || termCondition==undefined || termCondition==false)
        { showError("Term & Condition required."); return false; }

        $('#btnRegistrationVerify').html('Please Wait...<span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);
        $.post("/user/registrationAjax", { Name: name, Mobile: mobile, Email: email, Password: password, UserType: userType }, function (data) {
            if (data.Success == true) {
                $('#regosterBox').hide(); $('#register #verificationCode').show();
                $('#verificationCode .spn-verify-mobile').text(mobile);
                $('#RegistrationUser').val(data.User);
            }
            else
                showError(data.ErrorMessage);

            $('#btnRegistrationVerify').html('Register').removeAttr("disabled");
        });

    }

    function verifyOTP() {
        var otp = $('#RegistrationOTP').val().trim();
        var user = $('#RegistrationUser').val();

        if (otp == "" || isNaN(otp) || otp.length != 4)
        { showError('4 digit otp required.'); return false; }

        $('#btnVerifyOTP').html('Please Wait...<span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);
        $.post("/user/verifyOTP", { OTP: otp, UserId: user }, function (data) {
            if (data.Success == true)
             reload('You have successfully registered.');
            else
                showError(data.ErrorMessage);
            $('#btnVerifyOTP').html('Submit').removeAttr("disabled");
        });
    }

    function validateMobileNo() {
        var mobile = $('#LoginMobile').val();
        if (!validateMobile(mobile))
            return showError('Invalid mobile no.');
        $('#btnReset').html('Please Wait...<span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);
        $.post("/user/isMobileExist", { mobile: mobile }, function (data) {
            if (data.Success == true)
            { $('#loginBox').hide(); $('#resetPasswordBox').show(); $('#ResetUser').val(data.User); }
            else
                showError(data.ErrorMessage);
            $('#btnReset').html('Reset Now!').removeAttr("disabled");
        });
    }

    function ResetPassword() {
        var user = $('#ResetUser').val();
        var password = $('#ResetNewPassword').val();
        var confirmPassword = $('#ResetConfirmPassword').val();
        var otp = $('#ResetOTP').val();

        if (password == "")
            return showError("Password required.");
        else if (password.length > 50)
            return showError("Password can't be greater than 50 characters.");
        else if (password.length < 5)
            return showError("Password can't be less than 5 characters.");
        if (confirmPassword == "")
            return showError("Confirm password required.");
        if (password != confirmPassword)
            return showError("Confirm password not match.");

        if (otp == "" || isNaN(otp) || otp.length != 4)
            return showError('4 digit otp required.');

        $('#btnSubmitReset').html('Please Wait...<span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);
        $.post("/user/resetpasswordajax", { UserId: user, Password: password, ConfirmPassword: confirmPassword, OTP: otp }, function (data) {
            if (data.Success == true)
            { reload('Password reset successfully.'); }
            else
                showError(data.ErrorMessage);
            $('#btnSubmitReset').html('Reset Passowrd').removeAttr("disabled");
        });
    }

    $(document).keypress(function (event) {
        var keycode = event.keyCode ? event.keyCode : event.which;
        if (keycode === 13) {
            if ($('#loginModal').css('display') === 'block' && $('#login').hasClass('active')) {
                login();
            }
        }
    });
</script>

