﻿<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Company</h4>
                <ul class="linkList">
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h4>Explore</h4>
                <ul class="linkList">
                    <li><a href="#">How to book</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>We are Social</h4>
                <ul class="linkList socialLink">
                    <li><a href="#"><img src="@Url.Content("/Content/images/tw.png")" alt=""></a></li>
                    <li><a href="#"><img src="@Url.Content("/Content/images/fb.png")" alt=""></a></li>
                    <li><a href="#"><img src="@Url.Content("/Content/images/ins.png")" alt=""></a></li>
                    <li><a href="#"><img src="@Url.Content("/Content/images/gPlus.png")" alt=""></a></li>
                    <li><a href="#"><img src="@Url.Content("/Content/images/lin.png")" alt=""></a></li>
                </ul>
            </div>

            <div class="col-md-3 newsletters">
                <h4>Sign Up to get our newsletters</h4>
                <div class="col-md-12">
                    <input class="form-control required email" id="NewsletterSubscriberEmail" name="NewsletterSubscriberEmail" placeholder="Enter Email" type="text">
                    <button type="button" id="subscribeMe" class="btn btn-green">Sign up</button>
                </div>
            </div>


        </div>
    </div>
</footer>

<div class="footerStripe">
    <div class="container">
        Copyright © 2018 Flathalt.com
    </div>
</div>
