﻿@using FH.Agent_Web.ViewModel
@model MyEarningListVM

<style>
    .error {
        color: red
    }

</style>
<div class="agent-bg pt-4 pb-4">
    <div class="container" style=" max-width: 90%;">
        <div class="float-left">
            <h1>My Earning</h1>
        </div> 
        <div class="clearfix"></div>
        <div class="content-box p-3">
            <form action="/myearning/list" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="PropertyId" class="form-control" value="@(Model.PropertyId==0?"":Model.PropertyId.ToString())" placeholder="Property ID" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="FromDate" class="dtpick form-control" value="@(Model.FromDate==null?"":((DateTime)Model.FromDate).ToString("dd-MM-yyyy"))" placeholder="From Date" />
                            @Html.ValidationMessageFor(x => x.FromDate, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="ToDate" class="dtpick form-control" value="@(Model.ToDate==null?"":((DateTime)Model.ToDate).ToString("dd-MM-yyyy"))" placeholder="To Date" />
                            @Html.ValidationMessageFor(x => x.ToDate, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Search </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <div class="">
            @if (Model.PaymentCollections != null && Model.PaymentCollections.Count() > 0)
            {
            <div class="row">
                <div class="col-sm-6">
                    <label>
                        Total of Payment:
                        @foreach (var TPayment in Model.TotalPayment)
                        {
                            <span>@TPayment.TotalofPayment</span>
                        }
                    </label>
                </div>
               
            </div>
                <div class="">
                    <table class="table table-bordered table no-footer table-hover table-striped" id="mytable" style="width: 100%; overflow-x: scroll;">
                        <thead>
                            <tr>
                                <th>PropertyId</th>
                                <th>Tenant</th>
                                <th>TenantId</th>
                                <th>PaymentId</th>
                                <th>Room No</th>
                                <th>Mobile</th>
                                <th>Amount</th>
                                <th>Received On</th>
                                <th>Payment Type</th>
                                <th>Payment Mode</th>
                                <th>Rent From </th>
                                <th>Rent To </th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PaymentCollections)
                            {
                                <tr>
                                    <td>@item.PropertyId</td>
                                    <td>@item.TenantName</td>
                                    <td>@item.TenantId</td>
                                    <td>@item.PaymentId</td>
                                    <td>@item.RoomNo</td>
                                    <td>@item.TenantMobile</td>
                                    <td>@item.Amount</td>
                                    <td>@item.PaymentReceivedOn</td>
                                    <td>@item.PaymentType</td>
                                    <td>@item.PaymentMode</td>
                                    <td>@item.RentFrom</td>
                                    <td>@item.RentTo</td>
                                    <td>@item.Remark</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h4>No Data Found...</h4>
            }
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

 

<script>
    $(document).ready(function () {
        $('#mytable').DataTable({
            "paging": false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    text: 'Download in Excel'
                }
            ],
        });
        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();

            // Get the column API object
            var column = table.column($(this).attr('data-column'));

            // Toggle the visibility
            column.visible(!column.visible());
        });
    });
</script>

<script>
    $(function () {
        $('.dtpick').datetimepicker({
            format: 'dd-mm-yyyy',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2
        });
        $('.prev').html('<i class="fas fa-chevron-left"></i>');
        $('.next').html('<i class="fas fa-chevron-right"></i>');
    });
</script>