﻿@using FH.Web.Security;
@using FH.User.Entities;

<div class="col-md-12"><h4 class="text-primary">Provide location details</h4></div>
<div class="clearfix"></div><hr>
<div class="col-md-12">
    <input type="hidden" id="hdnLat" value="" />
    <input type="hidden" id="hdnLng" value="" />  
    <input type="hidden" id="hdnCity" value="" />
    <div class="form-group">        
        <label>Property Name</label>
        <input type="text" class="form-control" id="PropertyName" maxlength="50" placeholder="Property Name" value=""/>
    </div>
    <div class="form-group">        
        <label>Contact Person Name</label>
        <input type="text" class="form-control" id="contactPersonName" maxlength="50" placeholder="Contact Person Name" value="@CurrentUser.User.Name"/>
    </div>
    <div class="form-group">
        <label>Contact Person Mobile</label>
        <input type="text" class="form-control" id="contactPersonMobile" maxlength="10" placeholder="Contact Person Mobile" value="@CurrentUser.User.Mobile"/>
    </div>  
    <div class="form-group ui-widget">
            <label>Locality<span class="mondatoryStar">*</span></label>
            <input type="text" id="locality" value="" class="form-control" placeholder="Type your locality" maxlength="100" />    
    </div>        
        <div class="form-group">
            <label>Area/Street</label>
            <input type="text" id="street" value="" class="form-control" style="width:100%" placeholder="Type your Area/Street" maxlength="100">            
        </div>
    <div class="clearfix"></div><br>
    <div class="form-group">
        @Html.Partial("_GoogleMapGeoDecode")
    </div>
    <div class="clearfix"></div><hr>
    <div class="text-center">
        <button class="btn btn-secondary" id="btn_back_locality">Back</button>
        <button id="btn_locality" class="btn btn-primary">Submit</button>
    </div>
</div>

