﻿<div class="col-md-12"><h4 class="text-primary">Upload photo gallery</h4></div>
<div class="clearfix"></div><hr>
<div class="col-md-12">    
        <form id="frmFileUpload" action="#" method="POST" enctype="multipart/form-data" class="">
            <input id="fileUpload" type="file" accept="image/jpeg,image/png,image/jpg" class="d_none" multiple>
            <div class="col-md-12 first-box">
                <div class="upload-images-box" onclick="fileUploader();">
                    <img src="~/Content/images/add-more-image.png">
                    <div class="clearfix"></div>
                    <span class="btn btn-primary mt-4 mb-4">
                        <span>Upload Photos</span>
                    </span>
                    <ul class="image-instructions">
                        <li>Max limit 5 MB per image</li>
                        <li>Upload at least 5 photos to increase property quality</li>
                    </ul>
                </div>
            </div>
            <ul class="post-property-iamges">                                
                <li class="d_none">
                    <div class="add-more-photos fileinput-button-more" onclick="fileUploader();">
                        <h2>+</h2> 
                        <p>Add More Photos</p>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div><br>            
            <ul class="image-instructions ins2 d_none">
                <li>Max limit 5 MB per image</li>
                <li>Upload at least 5 photos to increase property quality</li>
            </ul>            
        </form>
        <br>    
</div>
<div class="clearfix"></div><hr>
<div class="text-center">
    <button class="btn btn-secondary" id="btn_gallery_back">Back</button>
    <button id="btnGallery" class="btn btn-primary">Submit</button>
</div>

<script>   

    $('#fileUpload').on('change', uploadFiles);

    function uploadFiles(event)
    {
        if (window.FormData !== undefined) {
            var fileUpload = $("#fileUpload").get(0);
            var files = fileUpload.files;
            $('.first-box').hide();
            $('.add-more-photos').parent().removeClass('d_none');
            $('.ins2').removeClass('d_none');
            for (var i = 0; i < files.length; i++) {
                var l = $('.post-property-iamges li').length - 1;
                $('.post-property-iamges').append('<li class="li'+l+'"><div class="upload-loader"><div class="img-upload-loader"></div></div></li>');                
                var formData = new FormData(document.getElementById("frmFileUpload"));
                formData.append(files[i].name, files[i]);
                formData.append("Id",l);
                $.ajax({
                    url: "@Url.Action("UploadGallery", "Property")",
                    type: "POST",
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,                   
                    success: function (data, status) {
                        debugger;
                        if (data.Success == true) {
                            var file = { FilePath: data.Url,FileName:data.File }
                            propertyPost.GalleryDetails.push(file);
                            $('.post-property-iamges .li' + data.Id).css('background', 'url("' + data.Url + '")');                            
                            $('.post-property-iamges .li' + data.Id + ' .upload-loader').remove();
                            $('.li' + data.Id).append('<span class="remove-picture" data-file="'+data.File+'" data-url="'+data.Url+'"><i class="fas fa-trash-alt"></i></span>');
                        }
                        else
                            $('.post-property-iamges .li' + data.Id).remove();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showError("Something went wrong.Please try again.");
                    }                    
                });
            }
        }
        else {
            showError("This browser is not supported,Please try another.");
        }    
    }
      function fileUploader() {
            $('#fileUpload').click();
        }

</script>
