﻿<div class="col-md-12"><h4 class="text-primary">Provide PG/Hostel details</h4></div>
<div class="clearfix"></div><hr>
<div class="col-md-12">
    <div class="form-group">
        <label>Available for</label><br>
       
                                    <div>
                                        <div class="dv-list-item tenant-gender" data-key="Male">Male</div>
                                        <div class="dv-list-item tenant-gender" data-key="Female">Female</div>
                                        <div class="dv-list-item tenant-gender" data-key="Co-Living">Co-Living</div>

                                        <div class="dv-list-item tenant-gender active" data-key="RoomRK">Room/RK</div>
                                    </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Preferred Guests</label>
        <div>
            @foreach (var item in PreferredGuest.GetAll())
            {
                <div class="dv-list-item preferred_tenant" data-key="@item.Key">@item.Value</div>
            }
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Available From</label>
        <input type="text" id="avaliable_from" class="form-control" placeholder="dd-mm-yy" value="" autocomplete="off">
    </div>
</div>
<div class="col-md-4">    
                <div class="form-group">
                    <label>Fooding</label><br>
                    <div>
                        <div class="dv-list-item fooding" data-key="true">Yes</div>
                        <div class="dv-list-item fooding" data-key="false">No</div>                        
                    </div>
                </div>
   </div>
<div class="col-md-4">
    <div class="form-group">
        <label>Laundry</label><br>
        <div>
            <div class="dv-list-item laundry" data-key="true">Yes</div>
            <div class="dv-list-item laundry" data-key="false">No</div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label>Room Cleaning</label><br>       
            <div class="dv-list-item room-cleaning" data-key="true">Yes</div>
            <div class="dv-list-item room-cleaning" data-key="false">No</div>       
    </div>
</div>
<div class="col-md-12"><h4>PG/Hostel Rules</h4></div>
<div class="row m-0">
    @foreach (var item in PGRulesMaster.GetAll())
    {
        <div class="col-md-4">
            <div class="dv-list-item pg-rule" data-key="@item.Key">@item.Value</div>            
        </div>
    }
</div>
@*<div class="col-md-12">
    <div class="form-group">
        <label>I'm interested to getting response from brokers.</label>
        <div>
            <div class="dv-list-item agent_contact active" data-key="true">Yes</div>
            <div class="dv-list-item agent_contact" data-key="false">No</div>
        </div>
    </div>
</div>*@
    <div class="clearfix"></div><hr>
    <div class="text-center">
        <button id="btn_pg_back" class="btn btn-secondary">Back</button>
        <button id="btn_pg_detail" class="btn btn-primary">Submit</button>
    </div>
