﻿@using FH.User.Entities
@{ 
    IEnumerable<AmenityMaster> roomAmenity = (IEnumerable<AmenityMaster>)ViewData["roomAmenity"];
    bool singleRoom = false, doubleRoom = false, threeRoom = false, fourRoom = false;
    if(Request.QueryString["rt"]!=null)
    {
        var rt = Request.QueryString["rt"];
        if(rt.Length>0)
        {
            foreach(var item in rt)
            {
                if (item == '1' || item == 'S')
                { singleRoom = true; }
                else if (item == '2' || item == 'D')
                { doubleRoom = true; }
                else if (item == '3' || item == 'T')
                { threeRoom = true; }
                else if (item == '4' || item == 'F')
                { fourRoom = true; }
                else
                { singleRoom = true; }
            }
        }
    }
}
<div class="col-md-12"><h4 class="text-primary">Provide Room details</h4></div>
<div class="clearfix"></div><hr>
    @if (singleRoom == true)
    {
                            <div class="row m-0">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Single Room Rent</label>
                                        <input type="number" class="form-control rent" id="rent1" maxlength="6" placeholder="Single Room Rent/Month" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Expected Deposit</label>
                                        <input type="number" class="form-control deposit" id="deposit1" maxlength="6" placeholder="Single Room Deposit" />
                                    </div>
                                </div>
                                <div class="col-md-3 d-none">
                                    <div class="form-group">
                                        <label>Total Seat</label>
                                        <input type="number" class="form-control totalSeat" id="totalSeat1" maxlength="6" value="" placeholder="Total Seat" />
                                    </div>
                                </div>
                                <div class="col-md-3 d-none">
                                    <div class="form-group">
                                        <label>Available Seat</label>
                                        <input type="number" class="form-control availableSeat" id="availableSeat1" maxlength="6" value="" placeholder="Available Seat" />
                                    </div>
                                </div>                                
                            </div>
    }
    @if (doubleRoom == true)
    {
                <div class="row m-0">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Double Room Rent</label>
                            <input type="number" class="form-control rent" id="rent2" maxlength="6" placeholder="Double Room Rent/Month" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Expected Deposit</label>
                            <input type="number" class="form-control deposit" id="deposit2" maxlength="6" placeholder="Double Room Deposit" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-none">
                            <label>Total Seat</label>
                            <input type="number" class="form-control totalSeat" id="totalSeat2" maxlength="6" value="" placeholder="Total Seat" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-none">
                            <label>Available Seat</label>
                            <input type="number" class="form-control availableSeat" id="availableSeat2" maxlength="6" value="" placeholder="Available Seat" />
                        </div>
                    </div>
                </div>
    }
            @if (threeRoom == true)
            {
                <div class="row m-0">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Three Room Rent</label>
                            <input type="number" class="form-control rent" id="rent3" maxlength="6" placeholder="Three Room Rent/Month" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Expected Deposit</label>
                            <input type="number" class="form-control deposit" id="deposit3" maxlength="6" placeholder="Three Room Deposit" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-none">
                            <label>Total Seat</label>
                            <input type="number" class="form-control totalSeat" id="totalSeat3" maxlength="6" value="" placeholder="Total Seat" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-none">
                            <label>Available Seat</label>
                            <input type="number" class="form-control availableSeat" id="availableSeat3" maxlength="6" value="" placeholder="Available Seat" />
                        </div>
                    </div>
                </div>
            }

            @if (fourRoom == true)
            {
                <div class="row m-0">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Four Room Rent</label>
                            <input type="number" class="form-control rent" id="rent4" maxlength="6" placeholder="Four Room Rent/Month" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Expected Deposit</label>
                            <input type="number" class="form-control deposit" id="deposit4" maxlength="6" placeholder="Four Room Deposit" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-none">
                            <label>Total Seat</label>
                            <input type="number" class="form-control totalSeat" id="totalSeat4" maxlength="6" value="" placeholder="Total Seat" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group d-none">
                            <label>Available Seat</label>
                            <input type="number" class="form-control availableSeat" id="availableSeat4" maxlength="6" value="" placeholder="Available Seat" />
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-12"><h4>Room Amenities</h4></div>
            @if (roomAmenity != null)
            {
                <div class="row m-0">
                    @foreach (var item in roomAmenity)
                    {
                    <div class="col-md-4 pr-0">
                        <div>
                            <div class="dv-list-item room-amenity" data-key="@item.AmenityId">@item.AmenityName</div>
                        </div>
                    </div>                    
                    }
                </div>
            }
            <div class="clearfix"></div><hr>
            <div class="text-center">
                <button id="btn_pg_room" class="btn btn-primary">Submit</button>
            </div>
