﻿<div class="postPropertySection" style="margin:auto">
    <div class="container">
        <br><br><br>
        <div class="text-center"><img src="@Url.Content("/Content/images/congratulations.png")"></div>
        <br><h2 class="text-center">Congratulations!</h2>
        <p class="text-center">You have successfully posted your property, It will be live within 12 Hours.</p>
        <div class="clearfix"></div><br>
        <hr>
        <div class="clearfix"></div><br><br>
    </div>
</div>


