﻿@using FH.User.Entities;
@using FH.Util;
@model IEnumerable<PropertyAmenitiesDetails>
@{
    var amenityMaster = (IEnumerable<AmenityMaster>)ViewData["amenityMaster"];
    string propertyStatus = ViewData["propertyStatus"].ToString();
}
<div class="col-md-12"><h4 class="text-primary">Provide additional details about your property to get maximum visibilty.</h4></div>
<div class="clearfix"></div><hr>
<h4>Select the amenities available</h4>
@if (amenityMaster != null)
{
    <div class="row">
        @foreach (var item in amenityMaster)
        {
            bool selectedAmenity = false;
            if (Model != null)
            {
                if (Model.Any(x => x.AmenityId == item.AmenityId))
                { selectedAmenity = true; }
            }
            <div class="col-md-4 pr-0">                
                <div>
                    <div class="dv-list-item amenity @(selectedAmenity == true ? "active":"")" data-key="@item.AmenityId">@item.AmenityName</div>                    
                </div>  
            </div>
        }
    </div>
}
<div class="clearfix"></div><hr>
<div class="text-center">
    <button class="btn btn-secondary" id="btn_amenity_back">Back</button>
    <button class="btn btn-secondary" id="btn_amenity_next">Next</button>
    <button id="btn_edit_amenity" class="btn btn-primary">Update</button>
</div>



