﻿@using FH.User.Entities;
@using FH.Util;
@model PropertyMaster
@{
    string propertyStatus = ViewData["propertyStatus"].ToString();    
 }
<div class="col-md-12"><h4 class="text-primary">Update Locality details</h4></div>
<div class="clearfix"></div><hr>
                            <div class="col-md-12">
                                <input type="hidden" id="hdnLat" value="@Model.Latitude" />
                                <input type="hidden" id="hdnLng" value="@Model.Longitude" />
                                <input type="hidden" id="hdnCity" value="@Model.City" />
                                <div class="form-group">
                                    <label>Property Name</label>
                                    <input type="text" class="form-control" id="PropertyName" maxlength="50" placeholder="Property Name" value="@Model.PropertyName" />
                                </div>
                                <div class="form-group">
                                    <label>Contact Person Name</label>
                                    <input type="text" class="form-control" id="contactPersonName" maxlength="50" placeholder="Contact Person Name" value="@Model.ContactPersonName" />
                                </div>
                                <div class="form-group">
                                    <label>Contact Person Mobile</label>
                                    <input type="text" class="form-control" id="contactPersonMobile" maxlength="10" placeholder="Contact Person Mobile" value="@Model.ContactPersonMobile" />
                                </div>
                                <div class="form-group ui-widget">
                                    <label>Locality<span class="mondatoryStar">*</span></label>
                                    <input type="text" id="locality" value="@Model.Locality" class="form-control" placeholder="Type your locality" maxlength="100" />
                                </div>
                                <div class="form-group">
                                    <label>Area/Street<span class="mondatoryStar">*</span></label>
                                    <input type="text" id="street" value="@Model.Street" class="form-control" style="width:100%" placeholder="Type your Area/Street" maxlength="100">
                                </div>
                                <div class="clearfix"></div><br>
                                <div class="form-group">
                                    @Html.Partial("_GoogleMapGeoDecode")
                                </div>
                                <div class="clearfix"></div><hr>
                                <div class="text-center">
                                    <button class="btn btn-secondary" id="btn_back_locality">Back</button>
                                    <button id="btn_edit_locality" class="btn btn-primary">Update</button>
                                    <button class="btn btn-secondary" id="btn_next_locality">Next</button>
                                </div>
                            </div>

