﻿@using FH.User.Entities;
@using FH.Util;
@model IEnumerable<PropertyGalleryDetails>
@{string propertyStatus = ViewData["propertyStatus"].ToString(); }
<div class="col-md-12"><h4 class="text-primary">Upload photo gallery</h4></div>
<div class="clearfix"></div>
<hr>
<div class="col-md-12">
    <form id="frmFileUpload" action="#" method="POST" enctype="multipart/form-data" class="">
        <input id="fileUpload" type="file" accept="image/jpeg,image/png,image/jpg" class="d_none" multiple>
        @if (propertyStatus != EnPropertyStatusByFH.Approved.ToString().ToLower() && propertyStatus != EnPropertyStatusByFH.RentOut.ToString().ToLower())
        {
            <div class="col-md-12 first-box @(Model!=null && Model.Count()>0?"d_none":"")">
                <div class="upload-images-box" onclick="fileUploader();">
                    <img src="~/Content/images/add-more-image.png">
                    <div class="clearfix"></div>
                    <span class="btn btn-primary mt-4 mb-4">
                        <span>Upload Photos</span>
                    </span>
                    <ul class="image-instructions">
                        <li>Max limit 5 MB per image</li>
                        <li>Upload at least 5 photos to increase property quality</li>
                    </ul>
                </div>
            </div>
        }
    <ul class="post-property-iamges">
        @if (Model != null)
        {
            @*<li class="@(Model.Count()==0?"d_none":"")">*@
                 <li class="">
                <div class="add-more-photos fileinput-button-more" onclick="fileUploader();">
                    <h2>+</h2>
                    <p>Add More Photos</p>
                </div>
            </li>

            foreach (var item in Model)
            {
            <li id="img@(item.PropertyGalleryId)" style="background:url('@item.FilePath')"><span class="remove-picture" onclick='removeGalleryPic("@item.PropertyGalleryId")'><i class="fas fa-trash-alt"></i></span></li>

            }
            }
        </ul>
        <div class="clearfix"></div><br>
        <ul class="image-instructions ins2 @(Model.Count()==0?"d_none":"")">
            <li>Max limit 5 MB per image</li>
            <li>Upload at least 5 photos to increase property quality</li>
        </ul>
    </form>
    <br>
</div>
<div class="clearfix"></div>
<hr>
<div class="text-center">
    <button class="btn btn-secondary" id="btn_gallery_back">Back</button>
    <button class="btn btn-secondary" id="btn_gallery_next">Next</button>
</div>

<script>

    $('#fileUpload').on('change', uploadFiles);
    function uploadFiles(event)
    {
        if (window.FormData !== undefined) {
            var fileUpload = $("#fileUpload").get(0);
            var files = fileUpload.files;

            var formData = new FormData(document.getElementById("frmFileUpload"));
            formData.append("pid", $('#propertyId').val());

            for (var i = 0; i < files.length; i++) {
                formData.append(files[i].name, files[i]);
            }

            $('.first-box').hide();
            $('.add-more-photos').parent().removeClass('d_none');
            $.ajax({
                url: "@Url.Action("AddNewGallery", "Property")",
                type: "POST",
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data, status) {
                    if (data.Success == true) {
                        $('.post-property-iamges').append('<li id="img' + data.FileId + '" style="background:url(' + data.Path + ')"><span class="remove-picture" onclick="removeGalleryPic(' + data.FileId + ')"><i class="fas fa-trash-alt"></i></span></li>');
                    }
                    else
                        showError(data.ErrorMessage);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    showError("Something went wrong.Please try again.");
                }
            });
        }
        else
        {
            showError("This browser is not supported,Please try another.");
        }
    }

    function fileUploader() {
        $('#fileUpload').click();
    }

</script>

