﻿@{
    var googleApiKey = System.Configuration.ConfigurationManager.AppSettings["GooglePlaceApiKey"].ToString();
}
@*<div id="map" style="width:100%;height:400px;"></div>*@
<script>
    var map = null;
    var cityCircle = null;
    var marker = null;
    //function markerOnMap() {
    //    map = new google.maps.Map(document.getElementById('map'), {
    //        center: { lat: parseFloat($('#hdnLat').val()), lng: parseFloat($('#hdnLng').val()) },
    //        zoom: 14,
    //        disableDefaultUI: true,
    //        zoomControl: true,
    //        scrollwheel: false
    //    });

    //    google.maps.event.addListener(map, 'bounds_changed', function () {
    //        var c = map.getCenter();

    //        if (cityCircle) {
    //            cityCircle.set("map", null);
    //        }

    //        cityCircle = new google.maps.Circle({
    //            strokeColor: '#FF0000',
    //            strokeOpacity: 0.8,
    //            strokeWeight: 2,
    //            fillColor: '#FF0000',
    //            fillOpacity: 0.35,
    //            map: map,
    //            center: c,
    //            radius: 200
    //        });

    //        google.maps.event.addListener(cityCircle, 'click', function (ev) {
    //            $("#hdnLat").val(ev.latLng.lat());
    //            $("#hdnLng").val(ev.latLng.lng());

    //            if (marker) {
    //                marker.set("map", null);
    //            }

    //            marker = new google.maps.Marker({
    //                position: ev.latLng,
    //                map: map
    //            });

    //        });

    //    }, 250);
    //}

    //function initMap() {
    //    //var city = $('#city option:selected');
    //    //var centerCord = { lat: Number(city.data('lat')), lng: Number(city.data('lng')) };
    //    //center: { lat: 28.457523, lng: 77.026344 },
    //    map = new google.maps.Map(document.getElementById('map'), {
    //        //center: centerCord,
    //        zoom: 14,
    //        disableDefaultUI: true,
    //        zoomControl: true,
    //        scrollwheel: false
    //    });

    //    google.maps.event.addListener(map, 'bounds_changed', function () {
    //        var c = map.getCenter();
    //        if (cityCircle) {
    //            cityCircle.set("map", null);
    //        }
    //        cityCircle = new google.maps.Circle({
    //            strokeColor: '#FF0000',
    //            strokeOpacity: 0.8,
    //            strokeWeight: 2,
    //            fillColor: '#FF0000',
    //            fillOpacity: 0.35,
    //            map: map,
    //            center: c,
    //            radius: 200
    //        });

    //        google.maps.event.addListener(cityCircle, 'click', function (ev) {
    //            $("#hdnLat").val(ev.latLng.lat());
    //            $("#hdnLng").val(ev.latLng.lng());
    //            if (marker) {
    //                marker.set("map", null);
    //            }
    //            marker = new google.maps.Marker({
    //                position: ev.latLng,
    //                map: map
    //            });

    //        });

    //    }, 250);


    //    //var inputFlat = document.getElementById('locality');
    //    //var gurgaon = { swlat: 28.293645, swlon: 76.798197, nelat: 28.561151, nelon: 77.157999 };

    //    //var defaultBound = new google.maps.LatLngBounds(new google.maps.LatLng(gurgaon.swlat, gurgaon.swlon), new google.maps.LatLng(gurgaon.nelat, gurgaon.nelon));
    //    //var autocompleteFlat = new google.maps.places.Autocomplete(inputFlat, { bounds: defaultBound, strictBounds: true });
    //    //console.log(autocompleteFlat);
    //    //autocompleteFlat.addListener('place_changed', function () {
    //    //    var place = autocompleteFlat.getPlace();
    //    //   console.log(place);
    //    //    $('#hdnLat').val(place.geometry.location.lat());
    //    //    $('#hdnLng').val(place.geometry.location.lng());
    //    //    markerOnMap();
    //    //});
    //    autoCompleteLocation();
    //}

    function autoCompleteLocation() {
        //var city = $('#city option:selected');
        //var swlat = Number(city.data('swlat')), swlon = Number(city.data('swlng')), nelat = Number(city.data('nelat')), nelon = Number(city.data('nelng'));
        var inputFlat = document.getElementById('locality');
        // console.log(swlat);
        //var gurgaon = { swlat: 28.293645, swlon: 76.798197, nelat: 28.561151, nelon: 77.157999 };
        //var gurgaon = { swlat: swlat, swlon: swlon, nelat: nelat, nelon: nelon };
        //var defaultBound = new google.maps.LatLngBounds(new google.maps.LatLng(gurgaon.swlat, gurgaon.swlon), new google.maps.LatLng(gurgaon.nelat, gurgaon.nelon));
        //var autocompleteFlat = new google.maps.places.Autocomplete(inputFlat, { bounds: defaultBound, strictBounds: true });
        var autocompleteFlat = new google.maps.places.Autocomplete(inputFlat);
        autocompleteFlat.addListener('place_changed', function () {
            var place = autocompleteFlat.getPlace();

            var filtered_array = place.address_components.filter(function (address_component) {
                return address_component.types.includes("administrative_area_level_2");
            });

            var city = filtered_array.length ? filtered_array[0].long_name : "";

            $('#hdnLat').val(place.geometry.location.lat());
            $('#hdnLng').val(place.geometry.location.lng());
            $('#hdnCity').val(city);
            //  markerOnMap();
        });
    }

    //$('#city').click(function () {
    //    initMap();
    //});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@googleApiKey&libraries=places&region=in&callback=autoCompleteLocation" async defer></script>