﻿@{ 
    var googleApiKey=System.Configuration.ConfigurationManager.AppSettings["GooglePlaceApiKey"].ToString();
}
<script>
    function initMap() {        
        var inputFlat = document.getElementById('txtLocality');
        var gurgaon = { swlat: 28.293645, swlon: 76.798197, nelat: 28.561151, nelon: 77.157999 };
        var defaultBound = new google.maps.LatLngBounds(new google.maps.LatLng(gurgaon.swlat, gurgaon.swlon), new google.maps.LatLng(gurgaon.nelat, gurgaon.nelon));
        var autocompleteFlat = new google.maps.places.Autocomplete(inputFlat, { bounds: defaultBound, strictBounds: true });
        autocompleteFlat.addListener('place_changed', function () {
            var place = autocompleteFlat.getPlace();
            $(inputFlat).attr("data-lat", place.geometry.location.lat());
            $(inputFlat).attr("data-lng", place.geometry.location.lng());
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@googleApiKey&libraries=places&callback=initMap"
        async defer></script>
