﻿@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    ViewBag.Title = "Post Property";
    var jsVersion = System.Configuration.ConfigurationManager.AppSettings["JsVersioning"];
    var isMobile = Request.Browser.IsMobileDevice;
}
@if (isMobile)
{ @Html.Partial("_Header_Mobile") }
else
{ @Html.Partial("_PartialHeader")}
    
<div class="clearfix"></div><br />
<div class="postPropertySection">
    <div class="container">       
        <div class="row" id="dv_container_row">     
            <div class="col-md-8">                
                <div class="postPropertyBox" style="border:1px solid #eee">                                        
                    <div class="tab-content">
                        <div id="property_detail_info">                            
                            @Html.Partial("_AddPropertyDetail")
                        </div>
                        <div id="locality_info" class="d_none">
                            @Html.Partial("_AddLocalityDetail")
                        </div>
                        <div id="rental_info" class="d_none">
                            @Html.Partial("_AddRentalDetail", new ViewDataDictionary { { "furnishMaster",ViewBag.furnishingMaster }})
                        </div>
                        <div id="gallery_info" class="d_none">
                            @Html.Partial("_AddGallery")
                        </div>
                        <div id="amenity_info" class="d_none">
                            @Html.Partial("_AddAmenity", new ViewDataDictionary { { "amenityMaster", ViewBag.amenityMaster } })
                        </div>
                </div>
            </div>
          </div>
            @if (!isMobile)
            {
            <div class="col-md-4">
             <div class="row">
                 <div class="col-md-12">
                     <div class="postYourPropertyContent">
                         <h4>Why Post through us?</h4>
                         <ul class="why-post-content">
                             <li>Free Listing</li>
                             <li>Higher Profitability</li>
                             <li>Greater Transparency</li>
                         </ul>                         
                     </div>
                 </div>
             </div>
            </div>
            }
            </div>
        </div>
    </div>
@section Script{
<script type="text/javascript" src="@Url.Content("/Content/js/property.js?v="+jsVersion)"></script>
<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>
<script src="~/Content/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(function () {
        $('#avaliable_from').datetimepicker({
            format: 'dd-mm-yyyy',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            startDate: '-0d'
        });
        $('.prev').html('<i class="fas fa-chevron-left"></i>');
        $('.next').html('<i class="fas fa-chevron-right"></i>');
    });
</script>
}

