﻿@using FH.Web.Security;
@{
    ViewBag.Title = "Post Your Property";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    var companyPhone = System.Configuration.ConfigurationManager.AppSettings["CompanyPhone"];
    var jsVersion = System.Configuration.ConfigurationManager.AppSettings["JsVersioning"];
    var isMobile = Request.Browser.IsMobileDevice;

}

@if (isMobile)
{@Html.Partial("_Header_Mobile")
if (CurrentUser.User != null && !string.IsNullOrWhiteSpace(CurrentUser.User.Roles[0]) && (CurrentUser.User.Roles[0].ToUpper() == "AGENT" || CurrentUser.User.Roles[0].ToUpper() == "OWNER"))
{
    @Html.Partial("_Menu_Mobile")
}
}
else
{ @Html.Partial("_PartialHeader")}


<div class="postPropertySection">
    <div class="container">
        <br><h2 class="text-center">Post Your Property </h2>
        <div class="clearfix"></div><br>
        <div class="postYourPropertyFormWrapper row">
            @{
                if (!isMobile)
                {
                    <div class="col-md-4">
                        <div class="row">
                            <div class="postYourPropertyContent">
                                <div class="postYourPropertyWhy">
                                    <h4>Why Post through us?</h4>
                                    <ul class="why-post-content">
                                        <li>Free Listing</li>
                                        <li>Higher Profitability</li>
                                        <li>Greater Transparency</li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="col-md-8">
                <div class="postPropertyBox">
                    <input type="hidden" id="hdnIsLoggedIn" value="@ViewBag.IsLoggedInUser" />
                    <div class="clearfix"></div>
                    @*<div class="col-md-12"><label>Property Type</label></div>*@
                    <div class="col-md-12">
                        <div class="form-group ">
                            @*<div class="dv-list-item property-type" data-key="flat">Flat</div>*@
                            <div class="dv-list-item property-type" data-key="room">Room/RK</div>
                            @*<div class="dv-list-item property-type" data-key="flatmate">Flatmate</div>*@
                            <div class="dv-list-item property-type" data-key="pg">PG</div>
                        </div>
                        <div class="form-group sub-type d_none" id="dv_bhk_type">
                            <label>BHK Type<span class="mondatoryStar"> *</span></label>
                            <div>
                                @foreach (var entry in BHKType.GetAll())
                                {
                                    <div class="dv-list-item bhk-type" data-key="@entry.Key.ToLower()">@entry.Value</div>
                                }
                            </div>
                        </div>
                        <div class="form-group sub-type d_none" id="dv_room_type">
                            <label>Room Type<span class="mondatoryStar"> *</span></label>
                            <div>
                                @foreach (var entry in RoomType.GetAll())
                                {
                                    <div class="dv-list-item room-type" data-key="@entry.Key.ToLower()">@entry.Value</div>
                                }
                            </div>
                        </div>

                        <div class="form-group sub-type d_none" id="dv_pg_room">
                            <label>Room Type<span class="mondatoryStar"> *</span></label>
                            <div>
                                @foreach (var entry in RoomBedType.GetAll())
                                {
                                    <div class="dv-list-item pg-room-type" data-key="@entry.Key">@entry.Value</div>
                                }
                            </div>
                        </div>
                        <button id="btnPostProperty" class="btn btn-primary btn-block btn-lg">Start Posting Your Ad For FREE</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        
        
        
        <div class="helpTextLanding alert-warning bg-round" style="margin-bottom:20px;">
            <i class="icon-phone icon-2x hidden-sm hidden-xs"></i>
            Call or WhatsApp us 9971774344, to get help with your property listing.
        </div>
    </div>
</div>
<div class="col-sm-12 col-12 text-center"">
    <img src="~/Content/images/one.jpeg" class="custImage" />
</div>
<style>
    .custImage {
        width: 113%;
        margin-left: -20px;
        margin-top: -21px;
    }

    @@media (min-width: 600px) {
        .custImage {
            width: 80%;
        }
    }

    .btn-primary {
        background: #9C27B0;
        transition: all 0.45s;
        border: 0px;
    }

        primary:focus, .btn-primary:visited {
            border: 1px solid #da241a !important;
            background: #9C27B0 !important;
            outline: 0px !important;
            border: 0px !important;
            box-shadow: none !important;
        }

    h2, h3 {
        color: #4A148C;
        font-size: 30px;
        font-weight: bold;
        margin-top: 0px;
        padding-top: 0px;
    }

    .alert-warning {
        color: #000605;
        background-color: #CE93D8;
        border-color: #880E4F;
    }

    .phone-circle {
        border: 1px solid #ccc;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 18px;
        color: #4A148C;
        transform: rotate(90deg);
    }
    .helpTextLanding.alert-warning.bg-round {
        margin-bottom: 23px !important;
    }
</style>
<script type="text/javascript" src="@Url.Content("/Content/js/postyourproperty.js?v="+jsVersion)"></script>

<script>
    //$(document).ready(function () {
    //    $('[data-key="pg"]').trigger("click");
    //});
</script>
