﻿
@{
    ViewBag.Title = "privacypoicy";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    var agentUrl = System.Configuration.ConfigurationManager.AppSettings["agentUrl"];
    var jsVersion = System.Configuration.ConfigurationManager.AppSettings["JsVersioning"];
    var isMobile = Request.Browser.IsMobileDevice;
}

@if (isMobile)
{@Html.Partial("_Header_Mobile") }
else
{ @Html.Partial("_PartialHeader")}
  
<style>
    header .logo_brand img {
        width: 92px;
    }

    .phone-circle svg {
        color: #9C27B0;
    }

    .innerHeader {
        margin-top: 86px;
    }

    header#siteHeader {
        z-index: 9999;
    }
</style>
<div class="innerHeader">
    <div class="container">
        <h1 class="textWhite">Privacy Policy</h1>
    </div>
</div>

<!-- whatWeDo begin here -->
<div class="whatWeDo pt-5 pb-5">
    <div class="container container_boom">
        <div class="row">
            <div class="col-12">
                <p>
                    Haltn.com website is owned and operated by M/S. Circous Hospitality Private Limited.
                </p>
                <h4>Objective, Scope and Applicability of the Policy </h4>
                <p>
                    The privacy policy (“Policy”) is applicable to the online interfaces of Circous Hospitality Pvt Ltd. (“Circous Hospitality”, “us”, “we” or “our”) including Https://www.Haltn.com, the mobile site/applications (including but not limited to the Circous Hospitality, Milo, or any other app) for iOS, Android, or any other windows operating system (collectively referred to as “Site”). This Policy along with its Terms of Use is effective from the date and time a user registers with Https://www.Haltn.com by filling up the Registration form and accepting the terms and conditions laid out in the Site Policy. The purpose of this Policy is to describe how Circous Hospitality collects, uses, maintains and shares information about you (“user” or “you” or “your”) on account of you accessing and using the Site. This information may include but is not limited to any information you upload, emails that you exchange with Circous Hospitality and other users of the Site and any information submitted/ provided by you to Circous Hospitality.

                    We recognize the importance of your privacy and we are committed to ensuring that you are aware of how your information is being used. Please read this Policy carefully to understand how we collect and use your information. Your use of the Site is also governed by our Terms of Use. You are free to use the Site only if you agree with our policies and practices encapsulated in this Policy read in conjunction with the Terms of Use.

                    By using the Site and/or by providing your information to us, you consent to the collection and use of the information you disclose on the Site in accordance with this Policy. If you wish to contact Circous Hospitality in connection with any matter relating to this Policy or privacy related issues you may send an email to data.privacy@Haltn.com. Alternatively, you may raise your concern using your Account (as defined below).

                    By browsing, visiting, accessing and/or using the services on the Site, you consent and agree to the terms of Circous Hospitality’s Policy as detailed herein.

                    You also agree that the information furnished by you is lawful, true and correct and does not violate or infringe any laws. In case of any violations, infringement, furnishing of wrongful or unauthorized information, Circous Hospitality shall not be liable to you or to any third party for the same.

                    You also agree that your information will not be considered as sensitive if it is freely available and accessible in the public domain or is furnished under the Right to Information Act, 2005 or any other law for the time being in force. We use data collection devices such as "cookies" on certain pages of the Site to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety. The term "cookies" means small files placed on your hard drive that assist us in providing our services. We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your interests. You are always free to decline our cookies if your browser permits, although in that case you may not be able to use certain features on the Site. Additionally, you may encounter "cookies" or other similar devices on certain pages of the Site that are placed by third parties. Circous Hospitality does not control the use of cookies by third parties.

                </p>
                <h4>
                    Types/ Nature of Information we collect:
                </h4>
                <p>
                    There are three (3) general categories of information we collect.
                    A. Information you provide us, to enable your use of the Account/Site.
                    B. Information you choose to give us.
                    C. Information that is necessary for the payment related services.

                    Further to each of the aforementioned categories set out in Section II: Sub-Section A, B and C above we collect the following types of information from you (collectively referred to as “Information”)
                    i) “Personally Identifiable Information” - information that could be used to identify you such as, your name, email address, age, gender, IP addresses and other similar information;
                    ii)  “Sensitive Personal Information” such as passwords in encrypted form and secured financial/ payment related information;
                    iii)  “Non-Personal Information” - information that cannot be used to identify you such as the webpage’s that you have viewed and your usage patterns; and
                    iv) “Device Information”- information which is automatically collected about the device from which the Site is used.

                    A. Information you provide Circous Hospitality to enable your use of the Account/Site We ask for and collect the following Personally Identifiable Information and Sensitive Personal Information about you when you use the Site. This information is necessary for performance of the
                    agreement between you and us and to allow us to comply with our legal obligations. Without it, we may not be able to provide you with all the requested services.

                    i) Account Information. In order to use certain features on the Site, Circous Hospitality may require you to create a user account (“Account”) which shall include your user profile (“Profile”). When you opt to create such an Account and sign /click on “I Accept” in respect of the creation of an Account, we require you to provide certain Personally Identifiable information such as your first name, last name, email address, date of birth, place of birth, employer name, phone number, interests, and depending on the nature of services you avail, information pertaining to your gender and marital status.

                    ii) Profile and Listing Information. In addition to (i) above, in order to use certain features on the Site (such as booking or creating a listing), we may ask you to provide certain additional Personally Identifiable Information, which may include your address, phone number, and a profile picture.

                    iii) Identity Verification Information. To help create and maintain a trusted environment, we may collect certain Personally Identifiable Information in order to verify your identity, such as images of specified government issued identification, including passport, national ID card, or driving license or any other information as may be required to verify your identity.

                    iv)  Payment Information. In addition to the foregoing, in order to use certain other features on the Site (such as booking or creating a listing), we may require you to provide certain financial information (as more particularly described in sub section C below) in order to facilitate the processing of payments.

                    v) Communications with Circous Hospitality and its affiliates and authorised service providers/agents or other users. When you communicate with Circous Hospitality or use the Site to communicate with Circous Hospitality’s affiliates and authorised service providers/agents or when you communicate with other users of Circous Hospitality, we collect all such correspondence, information about your communication and any additional information you choose to provide.

                    B) Information you choose to give us You may choose to provide us with additional Personally Identifiable Information in order to obtain a better user experience when using Circous Hospitality.

                    i) Additional Profile Information. You may choose to provide additional Personally Identifiable Information as part of your Profile (preferred language(s), city, and a personal description). Some of this
                    information as indicated in your account settings is part of your public profile page and will be publicly visible to others.

                    ii) Address Book Contact Information. You may choose to import your address book contacts or enter your contacts’ information manually to access certain features of the Circous Hospitality.

                    iii) Other Information. You may otherwise choose to provide us Information when you fill in a form, conduct a search, update or add information to your Account, respond to surveys, post to community forums, participate in promotions, or use other features/ functionalities of the Site.


                </p>
                <h4>Information that is necessary for the payment related services </h4>
                <p>
                    Circous Hospitality needs to collect the following Sensitive Personal Information, as it is necessary for the adequate performance of its agreements with you and to comply with applicable law (such as antimoney laundering regulations). Without it, you will not be able to use payment services offered by Circous Hospitality on the Site:
                    i) Payment Information. When you use any payment services on the Site, certain financial information may be required to facilitate the processing of such payments. You are to note that Circous Hospitality engages with third party payment service providers in order to enable you to process your payments in connection with the use of Circous Hospitality’s services. You will be required by such third-party payment service providers to provide certain Sensitive Personal Information. Please note that to this extent, you will be subject to the terms of use and privacy policy that is maintained by such third-party service provider.

                    ii) Identity Verification and Other Information. In connection with the collection of payment information and processing your payments we may also require certain information using which we can verify your identity (such as images of your specified government issued identification including passport, national ID card, or driving license) or other authentication information/KYC documents, your date of birth, your address, e-mail address, phone number and other information (such as your invoice amount, e-mail id and contact number) in order to verify your identity, provide the payment services to you, and to comply with applicable law.

                    III. Sharing your information:

                    a) Within Circous Hospitality’s group of companies in relation to its business purposes; b) With accommodation managers/landlords of property(ies) or with tenants/ prospective tenants or occupants as the case may be to enable providing the services you request; c) We use a variety of third-party service providers and vendors to help us provide products and services related to Circous Hospitality, including curated community apps, utilities and services related to living (water, laundry, mobility etc.), and payment services. For example, service providers which assist us to: (i) verify your identity or authenticate your identification documents; (ii) verify information against that which is available on public databases; (iii) conduct background or police checks, fraud prevention, and risk assessment; (iv) perform product development, software and website maintenance and debugging; (v) allow the provision of Circous Hospitality services through third party platforms and software tools (e.g. through the integration with our API’s); or (vi) provide customer service, advertising, or payments services. These providers have access to your information to the extent required to perform these tasks on our behalf and are contractually bound to protect and to use it only for the purposes for which it was disclosed and consistent with this Policy. d) With persons/entities that own/ manage other applications or websites that integrate with our API or services, or those with an API or service with which we are integrated or choose to integrate in future; e) Other members of curated networks of Circous Hospitality tenants, users and employees if you submit content in such a forum/network, such as blog comments, social media posts, pictures or other content which are viewable by members of such curated networks. f) The general public, if you submit content in a public forum, such as blog comments, social media posts, or other features of our services that are obviously viewable by the general public. For example, you may choose to use social sharing features and related tools which let you share details pertaining to your Circous Hospitality experience with other applications, sites, or media, and vice versa. Your use of these features enables the sharing of Information with your friends or the public, depending on your social sharing service settings. Please refer to the privacy policies of those social sharing services for more information about how they handle the information you provide to or share through them; g) Third parties where we have a duty to or are permitted to disclose your Information by law (e.g. law
                    enforcement officials, government authorities); h) With the police in the exercise of their functions or with others as required by a court order; i) Third parties where we or any Circous Hospitality group company, sell or buy any business or assets, in which case we may disclose your Information to the prospective seller or buyer of such business or assets; j) Third parties in connection with any merger, sale of company assets, consolidation or restructuring, financing, or acquisition of all or a portion of Circous Hospitality or any of the Circous Hospitality group company’s business, in which case Information held by it you may be one of the transferred assets.
                    Note where we share your Sensitive Personal Information or Personally Identifiable Information, appropriate protections will be in place to protect such information as required by applicable data protection laws. Sometimes, we may share Information in an aggregated, pseudonymised and/or anonymised form which cannot reasonably be used to identify an individual.


                </p>
                <h4>Purposes for which we use your Information: </h4>
                <p>
                    a) Correspondence/communication with you pursuant to you registering an Account or your usage of the Site; b)Verification of your Account; c) Ensuring that the content on the Site is presented in the most effective manner for you and for your device; d) To provide you with newsletters, information, products or services that you request from us which we feel may interest you, where you have consented to be contacted for such purposes; e) To notify you about changes to the Site, this Policy or the Terms of Use; f) For the purpose of studying your usage patterns; g) For analytical purposes, including but not limited to assessing usage data, usage patterns, estimate audience sizes and other similar activities; h) In any other manner we may describe when you provide the Information; i) Detection and prevention of fraud, spam, abuse, security incidents, and other harmful activity; j) Conducting security investigations and risk assessments; k) Verification or authentication of the information or identifications provided by you (such as to verify your accommodation address or compare your identification photo to another photo you provide); l) Conducting checks against databases and other information sources, including background or police checks, to the extent permitted by applicable laws and with your consent where required;
                    m) Compliance with our legal obligations and applicable laws; n) Compliance and monitoring of our contractual obligations towards you; o) Resolution of any disputes with you or any of our users  and enforce our agreements with third parties.
                    In connection with the activities above, we may conduct profiling based on your interactions with Circous Hospitality, your Profile information and other content you submit, and information obtained from third parties. In limited cases, automated processes may restrict or suspend access to Site, if such processes detect an activity that we think poses a safety or other risk to Circous Hospitality, other users, or third parties.
                </p>
                <h4>
                    DATA SECURITY
                </h4>
                <p>
                    The Information that you provide, subject to disclosure in accordance with this Policy and Terms of Use, shall be maintained in a safe and secure manner. Circous Hospitality’s databases and Information are stored on secure servers with appropriate firewalls owned by Circous Hospitality or by third parties.
                    Circous Hospitality gives the user right to withdraw his consent by sending an email at data.privacy@Haltn.com

                    Given the nature of internet transactions, Circous Hospitality does not take any responsibility for the transmission of Information including the Information you provide to Circous Hospitality. Any transmission of your Information on the internet is done at your risk. Circous Hospitality does not take any responsibility for you or any third party circumventing the privacy settings or security measures contained on the Site.

                    While Circous Hospitality will use all reasonable efforts to ensure that your Information is safe and secure, it offers no representation, warranties or other assurances that the security measures are adequate, safe, fool proof or impenetrable.

                    You acknowledge that as a registered user you are responsible for maintaining the security of your Account such as your Account login credentials and passwords, and that you should not provide these credentials to any third party. If it comes to your knowledge that or if you have reason to believe that your Account credentials have been stolen or been made known to others, you must contact us immediately at data.privacy@Haltn.com. You acknowledge that you are responsible for all acts


                </p>
                <h4> Your Rights</h4>
                <p>
                    a) Managing Your Information You may access and update your Personally Identifiable or Sensitive Personal Information through your Account settings. Please note that you do not have the option to connect to third party applications using your Account. Do note however, Circous Hospitality reserves the rights to save any NonPersonal, Device Information and usage Information and you are not entitled to seek the deletion of the same.
                    Circous Hospitality at its sole discretion may permit or deny the change of any Information, if it is believed such Information is required to comply with applicable laws.

                    b) Rectification of Inaccurate or Incomplete Information You have the right to ask us to correct inaccurate or incomplete Personally Identifiable Information or Sensitive Personal Information concerning you (and which you cannot update yourself within your Account) by contacting data.privacy@Haltn.com.
                </p>
                <h4> Data Retention and Erasure </h4>
                <p>
                    We retain your Information as long as it is required for it discharges its obligations towards you and/or as may be required under law. However, there may be circumstances that mean we must retain your personal information for longer (e.g. in the event of a dispute or if you make a claim in relation to a booking). We may retain some of your Personally Identifiable information as necessary for our legitimate business interests, such as fraud detection and prevention and enhancing safety. Information you have shared with others (e.g. reviews, forum postings) may continue to be publicly visible on the Site, even after your Account is cancelled.
                    VIII
                </p>
                <h4>
                    International Privacy Rights
                </h4>
                <p>
                    Circous Hospitality website and/or databases are operated and managed on servers that may be located and operated in different jurisdictions. By using and accessing the Site, you consent to the transfer to and processing of your Information including the Sensitive Personal Information and the
                    Personally Identifiable Information, on servers that may be located in a jurisdiction different from where you are located, and that the protection of such Information may be different than required under the laws of your residence or location.
                </p>
                <h4>
                    Age restrictions
                </h4>
                <p>
                    The Site is only intended for users who are competent to contract under applicable law. If you are not of the requisite age, you are not to provide any Personally Identifiable Information or Sensitive Personal Information. If it comes to Circous Hospitality’s attention that any such information pertains to an individual who is not competent to contract under applicable law, such Information may be deleted without notice to you.
                </p>
                <h4>
                    Amendments to the Policy
                </h4>
                <p>
                    This Policy is subject to change at Circous Hospitality’s sole discretion. Any changes to the Policy will be notified by way of a notice on the home page.
                    XI
                </p>
                <h4>
                    Terms of Us
                </h4>
                <p>
                    This Policy shall form a part of the Terms of Use.
                </p>
                <h4>
                    Data protection contacts
                </h4>
                <p>
                    If you have any questions, comments, complaints or suggestions in relation to this Policy, or any other concerns about the way in which we process information about you, please contact our Grievance Redressal Officer (detail mentioned below) at data.privacy@Haltn.com. We shall endeavour to address all requests/complaints within thirty (30) days from the date of such a request/complaint being made.
                </p>
                <h4>
                    Miscellaneous
                </h4>
                <p>
                    All information disclosed by You shall be deemed to be disclosed willingly and without any coercion. No liability pertaining to the authenticity/ genuineness/ misrepresentation/ fraud/ negligence, etc. of the information disclosed shall lie on Circous Hospitality nor will Circous Hospitality in any way be responsible to verify any information obtained from You.
                </p>

                <h4 id="refundpolicy">
                    Refund Policy
                </h4>
                <p>
                    Thier will be one month notice for checkout if any one not inform before one month (30 days) so the amount will be deducted from his/her security amount and remaining security ammount will be refund in one month (30 days) of checkout date.
                </p>
            </div>

        </div>

    </div>
</div>
<!-- whatWeDo ends here -->
