﻿@{
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"].ToString();
}

<div class="title-stripe">
    <h1>My Properties</h1>
    <ul class="nav agent-nav-tabs agent-nav-tabs-4">
        <li class="nav-item">
            <a onclick="getProperty('approved',this)" class="nav-link active" data-toggle="tab">Approved</a>
            <a onclick="getProperty('pending',this)" class="nav-link" data-toggle="tab">Pending</a>
            <a onclick="getProperty('rentout',this)" class="nav-link" data-toggle="tab">Rent Out</a>
            <a onclick="getProperty('rejected',this)" class="nav-link" data-toggle="tab">Rejected</a>
        </li>        
    </ul>
</div>
<div class="agent-bg pt-2 pb-4">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-9 border border-top-0 border-right-0 border-bottom-0">
                    <div class="tab-content" id="dvProperty">
                        <img src="~/Content/images/mSearchLoading.gif" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-box view-response-modal">
    <div class="modal-box-header text-center text-white">
        <span class="back-btn"><span class="fa fa-arrow-left"></span></span>
        <span class="search-box-title">View Response</span>
    </div>
    <div class="modal-box-body" id="propertyLeadModalBody">
    </div>
</div>
<style>
    .btn-primary-border {
        background: none !important;
        border: 2px solid #4A148C !important;
        color: #4A148C;
        font-size: 12px !important;
    }
</style>


<script>
    $(function () {
        getProperty('approved');
        $('.agent-nav-tabs li a').eq(0).addClass('active');
    });

 function getProperty(status,th)
  {
     $('.agent-nav-tabs li a').removeClass('active');
     $(th).addClass('active');
     if (status != "" && status != undefined) {
           if(th!=undefined) $('.loader').show();
           $.post("/myproperty/GetProperty",{PropertyStatus:status}, function (data, status) {
               $('#dvProperty').html(data);
            $('.loader').hide();
         });
     }
 }

 function getPropertyLead(pid)
 {
     if(pid!="" && pid!=undefined)
     {
         $('.loader').show();
         $.post("/myproperty/GetPropertyLead", { propertyId:pid }, function (data, status) {
             $('#propertyLeadModalBody').html(data);
             $('.view-response-modal').addClass('active');
             $('.loader').hide();
         });
     }
 }

function getView(pid)
 {
     window.open("@webUrl/property/details/"+pid);
}

function paging(page)
{
    $('.loader').show();
    $.post("/myproperty/GetProperty",{PropertyStatus:$('#PropertyStatus').val(),PageIndex:page }, function (data, status) {
        $('#dvProperty').html(data);
        $('.loader').hide();
    });
    }

    function getPropertyStatusView(pid) {
        if (pid != "" && pid != undefined) {
            $('.loader').show();
            $.post("/myproperty/GetPropertyStatusView", { propertyId: pid }, function (data, status) {
                if (data.Success == false) {
                    showError("Something went wrong.");
                    return;
                }
                else {
                    $('#propertyStatusModal').remove();
                    $('body').append(data);
                   // $('.view-response-modal').addClass('active');
                    $('.loader').hide();
                }
            });            
        }
    }

    function getAddTenantView(pid) {
        $.get("/MyTenant/getAddTenantModal", { 'pId': pid }, function (data) {
            if (data.Success == false) {
                showError("Something went wrong.Please try again.");
            }
            else {
                $('#tenantModal').remove();
                $('body').append(data);                
            }
        });
    }
</script>
