﻿@using FH.User.Entities;
@model IEnumerable<PropertyLead>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="static-modal-box">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Visit Date</th>
                        <th>Visit Time</th>
                        <th>Created On</th>                                               
                    </tr>
                </thead>
                <tbody>
                 @foreach (var item in Model)
                {
                <tr>
                    <td>@item.VisitorName</td>
                    <td>@item.VisitorEmail</td>
                    <td>
                        @item.VisitorMobile
                    </td>
                    <td>@(!string.IsNullOrEmpty(item.VisitDate)?Convert.ToDateTime(item.VisitDate).ToString("dd MMM yyyy"):"")</td>
                    <td>@item.VisitTime</td>
                    <td>@(item.LeadCreatedOn!=null?((DateTime)item.LeadCreatedOn).ToString("dd MMM yyyy"):"")</td>                                                  
                </tr>
                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4>No Lead Found...</h4>
    }
