﻿@using FH.Web.Security;
@{ 
    var webUrl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"].ToString();
   // string agentId = System.Configuration.ConfigurationManager.AppSettings["AgentId"].ToString();
}

<div class="agent-bg pt-4 pb-4">
    <div class="container">
        <div class="float-left">
            <h1>My Properties</h1>
        </div>
        @*<div class="float-right">
            <p class="font-weight-bold">Agent ID: @agentId@EncreptDecrpt.Decrypt(CurrentUser.User.UserId)</p>
        </div>*@
        <div class="clearfix"></div>
        <div class="content-box p-3">
            <div class="row">
                <div class="col-md-3">
                    <ul class="agent-nav-tabs">
                        <li><a onclick="getProperty('approved',this)">Approved Properties</a></li>
                        <li><a onclick="getProperty('pending',this)">Pending Properties</a></li>
                        <li><a onclick="getProperty('rentout',this)">Rent Out Properties</a></li>
                        <li>
                            <a onclick="getProperty('rejected',this)">Rejected Properties</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 border border-top-0 border-right-0 border-bottom-0">
                    <div class="tab-content" id="dvProperty">
                        <img src="~/Content/images/property-loading.gif" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .agent-nav ul li a.active {
        background: #F3E5F5;
        color: #555;
        font-weight: bold;
    }
    .agent-nav ul li:nth-child(1) a {
        background: #9234ab;
    }
    .agent-nav ul li:nth-child(4) a {
        background: #a53cb6;
    }
    .agent-nav ul li:nth-child(3) a {
        background: #BA68c8;
    }
    .btn-primary {
        background: #8E24AA;
        transition: all 0.45s;
        border: 0px;
    }
    .phone-circle {
        border: 1px solid #ccc;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 18px;
        color: #4A148C;
        transform: rotate(90deg);
    }
    h2, h3 {
        color: #4A148C;
        font-size: 30px;
        font-weight: bold;
        margin-top: 0px;
        padding-top: 0px;
    }
    .btn-primary-border {
        background: none !important;
        border: 2px solid #4A148C !important;
        color: #7B1FA2;
        font-size: 13px !important;
    }
    .btn-primary:visited {
        border: 1px solid #da241a !important;
        background: #8E24AA !important;
        outline: 0px !important;
        border: 0px !important;
        box-shadow: none !important;
    }
        .btn-primary-border .badge {
            border: 1px solid #311B92;
        }
    .property_status, .search-list-box .property_status {
        position: absolute;
        top: 0px;
        right: 0px;
        background: #8E24AA;
        width: auto;
        height: auto;
        color: #fff;
        padding: 2px 15px;
        font-size: 12px;
    }
</style>
<script>
    $(function () {
        getProperty('approved');
        $('.agent-nav-tabs li a').eq(0).addClass('active');
    });

 function getProperty(status,th)
    {
     $('.agent-nav-tabs li a').removeClass('active');
     $(th).addClass('active');
     if (status != "" && status != undefined) {
           if(th!=undefined) $('.loader').show();
           $.post("/myproperty/GetProperty",{PropertyStatus:status}, function (data, status) {
             $('#dvProperty').html(data);
            $('.loader').hide();
         });
     }
 }

 function getPropertyLead(pid)
 {
     if(pid!="" && pid!=undefined)
     {
         $('.loader').show();
         $.post("/myproperty/GetPropertyLead", { propertyId:pid }, function (data, status) {
             $('#propertyModalBody').html(data);
             $('#propertyModal').modal('show');
             $('.loader').hide();
         });
     }
 }

function getView(pid)
 {
     window.open("@webUrl/property/details/"+pid);
}

function paging(page)
{
    $('.loader').show();
    $.post("/myproperty/GetProperty",{PropertyStatus:$('#PropertyStatus').val(),PageIndex:page }, function (data, status) {
        $('#dvProperty').html(data);
        $('.loader').hide();
    });
    }

    function getPropertyStatusView(pid) {
        $.post("/myproperty/GetPropertyStatusView", { propertyId: pid }, function (data, status) {
            if (data.Success == false) {
                showError("Something went wrong.");
                return;
            }
            else {
                $('#propertyStatusModal').remove();
                $('body').append(data);
                $('#propertyStatusModal').modal('show');
            }
        });
    }

    function UpdatePropertyStatus(pId) {
        var status = $('.prop-status.active').data('key');
        $.post("/myproperty/UpdatePropertyStatus", { propertyId: pId, status: status }, function (data) {
            if (data.Success == false) {
                showError("Something went wrong.");
                return;
            }
            else {
                $('#propertyStatusModal').modal('hide');
                $('#propertyStatusModal').remove();
            }
        });
    }

    function getAddTenantView(pid) {
        $.get("/MyTenant/getAddTenantModal",{ 'pId': pid }, function (data) {
            if (data.Success == false) {
                showError("Something went wrong.Please try again.");
            }
            else {               
                $('#tenantModal').remove();
                $('body').append(data);
                $('#tenantModal').modal('show');
            }
        });
    }

</script>