﻿@using FH.Web.Security;
@model VMPropertyListing

<input type="hidden" id="PropertyStatus" value="@Model.propertySearchInput.PropertyStatus" />

@if (Model != null && Model.PropertyList != null && Model.PropertyList.Count() > 0)
{
    foreach (var item in Model.PropertyList)
    {
        <div class="search-list-box">
            <div class="card">
                @if (item.PropertyType.ToLower() == "flat")
                {
                    <div class="row cardClick">
                        <div class="col-4 pr-0">
                            <div class="p-relative">
                                @if (string.IsNullOrEmpty(item.ImageUrl))
                        {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                        else
                        { <img src="@item.ImageUrl" class="card-img-top">}

                                <div class="property_status">ID:@item.PropertyId</div>
                            </div>
                        </div>
                        <div class="col-8">
                            @{var propTitle = item.BhkType + " Flat In " + @item.Locality;}
                            <h2 title="@propTitle">
                                @(propTitle.Length > 50 ? propTitle.Substring(0, 50) + "..." : propTitle)
                            </h2>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4 border-r-1 pr-0">
                                        <p class="m-0 font-weight-bold"> @(!string.IsNullOrWhiteSpace(item.ApartmentType) ? item.ApartmentType.Length > 17 ? item.ApartmentType.Substring(0, 17) + "..." : item.ApartmentType : "NA")</p>
                                        <p class="m-0"><small>Apartment</small></p>
                                    </div>
                                    <div class="col-4 border-r-1 pr-0">
                                        <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                        <p class="m-0"><small>Rent</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Security Deposit</small></p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4 border-r-1 pr-0">
                                        <p class="m-0 font-weight-bold">@item.Furnishing</p>
                                        <p class="m-0"><small>Furnishing Status</small></p>
                                    </div>
                                    <div class="col-4 border-r-1 pr-0">
                                        <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                        <p class="m-0"><small>Area</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                        <p class="m-0"><small>Available For</small></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                                }
                @if (item.PropertyType.ToLower() == "flatmate")
                {
                    <div class="row cardClick">
                        <div class="col-4 pr-0">
                            <div class="p-relative">
                                @if (string.IsNullOrEmpty(item.ImageUrl))
                                {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                else
                                { <img src="@item.ImageUrl" class="card-img-top">}

                                <div class="property_status">ID:@item.PropertyId</div>
                            </div>
                        </div>
                        <div class="col-8">
                            @{var flatmateTitle = "Flatmate for " + item.BhkType + " Flat in " + item.Locality;}
                            <h2 title="@flatmateTitle">
                                @(flatmateTitle.Length > 50 ? flatmateTitle.Substring(0, 50) + "..." : flatmateTitle)
                            </h2>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold"> @(!string.IsNullOrWhiteSpace(item.ApartmentType) ? item.ApartmentType.Length > 17 ? item.ApartmentType.Substring(0, 17) + "..." : item.ApartmentType : "NA")</p>
                                        <p class="m-0"><small>Apartment</small></p>
                                    </div>
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                        <p class="m-0"><small>Rent</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Security Deposit</small></p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">Semi-furnished</p>
                                        <p class="m-0"><small>@item.Furnishing</small></p>
                                    </div>
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                        <p class="m-0"><small>Area</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                        <p class="m-0"><small>Available For</small></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                                }

                @if (item.PropertyType.ToLower() == "room")
                {
                    <div class="row cardClick">
                        <div class="col-4 pr-0">
                            <div class="p-relative">
                                @if (string.IsNullOrEmpty(item.ImageUrl))
                                {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                else
                                { <img src="@item.ImageUrl" class="card-img-top">}

                                <div class="property_status">ID:@item.PropertyId</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <h2></h2>
                            @{var roomTitle = "Room in " + item.Locality;}
                            <h2 title="@roomTitle">
                                @(roomTitle.Length > 50 ? roomTitle.Substring(0, 50) + "..." : roomTitle)
                            </h2>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <p class="m-0 font-weight-bold"> @(!string.IsNullOrWhiteSpace(item.ApartmentType) ? item.ApartmentType.Length > 17 ? item.ApartmentType.Substring(0, 17) + "..." : item.ApartmentType : "NA")</p>
                                        <p class="m-0"><small>Apartment</small></p>
                                    </div>
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                        <p class="m-0"><small>Rent</small></p>
                                    </div>
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Security Deposit</small></p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.Furnishing</p>
                                        <p class="m-0"><small>Furnish</small></p>
                                    </div>
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.PropertySize Sq.Ft</p>
                                        <p class="m-0"><small>Area</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                        <p class="m-0"><small>Available For</small></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                                }

                @if (item.PropertyType.ToLower() == "pg")
                {
                    <div class="row cardClick">
                        <div class="col-4 pr-0">
                            <div class="p-relative">
                                @if (string.IsNullOrEmpty(item.ImageUrl))
                                {<img src="~/Content/images/no-image.jpg" class="card-img-top">}
                                else
                                { <img src="@item.ImageUrl" class="card-img-top">}

                                <div class="property_status">ID:@item.PropertyId</div>
                            </div>
                        </div>
                        <div class="col-8">
                            @{
                                var pgTitle = " (" + item.PropertyId + ") " + item.Locality;
                                string pgTitle50 = pgTitle.Length > 50 ? pgTitle.Substring(0, 50) + "..." : pgTitle;
                            }
                            <h2 title="@pgTitle">@pgTitle50</h2>
                            <h2 title="@pgTitle" style="font-size:10px !important;">@item.PropertyName</h2>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.ApartmentType</p>
                                        <p class="m-0"><small>Room Type</small></p>
                                    </div>
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.ExpectedRent/Month</p>
                                        <p class="m-0"><small>Rent</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 font-weight-bold">@item.ExpectedDeposit</p>
                                        <p class="m-0"><small>Security Deposit</small></p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">@item.PreferredTenants</p>
                                        <p class="m-0"><small>Available For</small></p>
                                    </div>
                                    <div class="col-4 border-r-1">
                                        <p class="m-0 font-weight-bold">Property Type</p>
                                        <p class="m-0"><small>@(item.TenantGender == "RoomRk" || item.TenantGender == "RoomRK" ? "Room/Rk" : $"{item.TenantGender} pg")</small></p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 font-weight-bold">Yes</p>
                                        <p class="m-0"><small>Fooding</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                }
                @if (item.PropertyStatus.ToUpper() != "PENDING")
                {   
                    <div class="search_list_btn">
                        <ul class="property_btn_list">
                            <li>
                                <button type="button" class=" btn btn-primary btn-primary-border" onclick="getPropertyLead(@item.PropertyId)">
                                    View Response <span class="badge badge-light badge-radius">@item.PropertyLead</span>
                                </button>
                            </li>
                           @* <li>
                                <button type="button" class=" btn btn-primary btn-primary-border" onclick="getView(@item.PropertyId)">View Detail</button>
                            </li>*@
                      
                            @if (item.PropertyStatus.ToUpper() == "APPROVED" && item.PropertyType.ToUpper() == "PG")
                            {
                                <li>
                                    <a target="_blank" href="/property/edit?pid=@EncreptDecrpt.Encrypt(item.PropertyId)" class=" btn btn-primary btn-primary-border">Edit</a>
                                </li>
                                  <li>
                <a target="_blank" href="/mytenant/propertyMap?Pid=@item.PropertyId" class=" btn btn-primary btn-primary-border">Property Map</a>
                                  </li>
                            }
                            @*                            <li>
            <button type="button" onclick="getPropertyStatusView(@item.PropertyId)" class=" btn btn-primary btn-primary-border">Update Status</button>
        </li>*@

                            @if (item.PropertyStatus.ToUpper() == "APPROVED" && item.PropertyType.ToUpper() == "PG")
                            {
                                <li>
                                    <button type="button" onclick="getAddTenantView(@item.PropertyId)" class="btn btn-primary btn-primary-border">Add Tenant</button>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else if (item.PropertyStatus.ToUpper() == "PENDING")
                {
                    <div class="search_list_btn">
                        <ul class="property_btn_list">
                            <li>
                                <button type="button" onclick="getView(@item.PropertyId)" class=" btn btn-primary btn-primary-border">View Detail</button>
                            </li>
                            <li>
                                <a target="_blank" href="/property/edit?pid=@EncreptDecrpt.Encrypt(item.PropertyId)" class=" btn btn-primary btn-primary-border">Edit</a>
                            </li>
                            <li>
                                <button type="button" onclick="getPropertyStatusView(@item.PropertyId)" class=" btn btn-primary btn-primary-border">Update Status</button>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
                                }
                                <br />
                                @Html.Partial("_Pager", Model.Paging)
                                }
                                else
                                {
                                    <img src="~/Content/images/no-data-found.png" class="img-fluid" alt="no data found" />
                                }