﻿
@{
    ViewBag.Title = "My Properties";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    var isMobile = Request.Browser.IsMobileDevice;    
}

@if (isMobile)
{
   @Html.Partial("_Header_Mobile")   
   @Html.Partial("_MyProperty_Mobile")
   @Html.Partial("_Menu_Mobile")
}
else
{
    @Html.Partial("_PartialHeader")
    @Html.Partial("_Menu_Desktop")
    @Html.Partial("_MyProperty_Desktop")
}



<div class="modal" id="propertyModal">
    <div class="modal-dialog modal-lg" style="max-width:1000px">
        <div class="modal-content">            
            <div class="modal-header">
                <h4 class="modal-title">View Response</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="propertyModalBody">                
            </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


