﻿@using FH.Agent_Web.ViewModel
@model AddTenantVM

    <div class="modal-box active" id="tenantModal">
        <div class="modal-box-header text-center text-white">
            <span class="back-btn" onclick="closeModal()"><span class="fa fa-arrow-left"></span></span>
            <span class="search-box-title">Add New Tenant</span>
        </div>
        <div class="modal-box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Name</b></label>
                        <input type="text" id="tenantName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Mobile</b></label>
                        <input type="text" id="tenantMobile" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Email</b></label>
                        <input type="text" id="tenantEmail" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Security Amount</b></label>
                        <input type="text" id="securityAmount" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Rent/Month</b></label>
                        <input type="text" id="rentAmount" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Check-In Date</b></label>
                        <input type="text" id="checkInDate" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" id="OccupancyDiv">
                        <label><b>Room Type</b></label>
                        <select name="Occupancy" id="Occupancy" class="form-control" onchange="filterRoomsByOccupancy()">
                            <option value="1">Private Room</option>
                            <option value="0.5">Double Sharing</option>
                            <option value="0.33">Triple Sharing</option>
                            <option value="0.25">Four Sharing</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" id="roomDetailsDiv">
                        <label><b>Room Number</b></label>
                        <select name="RoomId" id="RoomId" class="form-control" onchange="ChngOccupancy()">
                            <option>Room Number</option>
                            @{
                                var RoomData = Model.PGRoomData;
                            }
                            @if (Model != null && RoomData != null)
                            {
                                foreach (var item in RoomData)
                                {
                                    if (item.Occupancy < 0.99)
                                    {
                                        if (item.OccupancyC == 0.25)
                                        {
                                            <option value="@item.PGRoomInventoryId,0.25" style="color:green;">@item.RoomNo (Four Sharing)</option>
                                        }
                                        else if (item.OccupancyC.ToString() == "0.33")
                                        {
                                            <option value="@item.PGRoomInventoryId,0.33" style="color:green;">@item.RoomNo (Three Sharing)</option>
                                        }
                                        else if (item.OccupancyC == 0.5)
                                        {
                                            <option value="@item.PGRoomInventoryId,0.5" style="color:green;">@item.RoomNo (Double Sharing)</option>
                                        }
                                        else if (item.OccupancyC == 0)
                                        {
                                            <option value="@item.PGRoomInventoryId,1">@item.RoomNo</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>


                <!--
    <div class="col-md-6">
                       <div class="form-group">
                           <label><b>Security Deposit Amount</b></label>
                           <input type="text" id="securityDeposit" min="0" class="form-control" required="true" />
                       </div>
                   </div>
                  -->
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary" id="btnAddTenant">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
    $(function () {
        $('#checkInDate').datetimepicker({
            format: 'dd-mm-yyyy',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2

        });

        $('.prev').html('<i class="fas fa-chevron-left"></i>');
        $('.next').html('<i class="fas fa-chevron-right"></i>');
    });

        function filterRoomsByOccupancy() {
          
            var occupancyDropdown = document.getElementById("Occupancy");
            var selectedOccupancy = parseFloat(occupancyDropdown.value);

            var roomDropdown = document.getElementById("RoomId");
            var roomOptions = roomDropdown.getElementsByTagName("option");

            // Hide options that don't match the selected occupancy or are private rooms
            for (var i = 0; i < roomOptions.length; i++) {
                var option = roomOptions[i];
                var values = option.value.split(",");
                var sharingValue = parseFloat(values[1]);
                if (sharingValue == selectedOccupancy || sharingValue == 1) { option.style.display = "block" }

                else { option.style.display = "none" }

            }
        }

        function ChngOccupancy() {
            var RoomNo = $("#RoomId").val();
            RoomNo = RoomNo.split(",");
            var html = '<label><b>Room Type</b></label><select name = "Occupancy" id = "Occupancy" class="form-control" > ';
            console.log(RoomNo['1']);
            if (RoomNo['1'] == 0.25) {
                html += ' <option value="0.25">Four Sharing</option> ';
                console.log("Four Sharing Room");
            } else if (RoomNo['1'] == 0.33) {
                html += ' <option value="0.33">Triple Sharing</option>  ';
                console.log("Triple Sharing ");
            } else if (RoomNo['1'] == 0.5) {
                html += '<option value="0.5">Double Sharing</option>  ';
                console.log("Double Sharing ");
            } else {
                html += '<option value="1">Private Room</option><option value="0.5">Double Sharing</option> <option value="0.33">Triple Sharing</option>  <option value="0.25">Four Sharing</option> ';
                console.log("Blank Sharing ");
            }
            html += '</select>';
           // $("#OccupancyDiv").html(html);
        }

    $("#checkInDate").change(function () {
        var CheckInDate = $("#checkInDate").val();
        var PropertyId = @Model.PropertyId;
        $.post('/MyTenant/GetAvailableRooms', { CheckInDate: CheckInDate, PropertyId: PropertyId }, function (data) {
            var roomDetails = JSON.parse(data.Message);
            console.log(roomDetails);
            var html = '<label><b>Room Number</b></label> <select name = "RoomId" id="RoomId" class="form-control" onchange="ChngOccupancy()"> <option>Room Number</option>';
            for (var i = 0; i < roomDetails.length; i++) {
                if (roomDetails[i].Occupancy < 0.99) {
                    if (roomDetails[i].OccupancyC == 0.25) {
                        html += '<option value="' + roomDetails[i].PGRoomInventoryId + ',0.25" style="color:green;">' + roomDetails[i].RoomNo + '(Four Sharing)</option>'
                    } else if (roomDetails[i].OccupancyC == 0.33) {
                        html += '<option value="' + roomDetails[i].PGRoomInventoryId + ',0.33" style="color:green;">' + roomDetails[i].RoomNo + '(Three Sharing)</option>'
                    } else if (roomDetails[i].OccupancyC == 0.5) {
                        html += '<option value="' + roomDetails[i].PGRoomInventoryId + ',0.5" style="color:green;">' + roomDetails[i].RoomNo + '(Double Sharing)</option>'
                    } else if (roomDetails[i].OccupancyC == 0) {
                        html += '<option value="' + roomDetails[i].PGRoomInventoryId + ',1">' + roomDetails[i].RoomNo + '</option>'
                    }
                }
            } 
            html += '</select>';
            console.log(html);
            $("#roomDetailsDiv").html(html);



            $('#btnAddTenant').click(function () {
                var name = $('#tenantName').val();
                var mobile = $('#tenantMobile').val();
                var email = $('#tenantEmail').val();
                var securityAmount = $('#securityAmount').val();
                var rentAmount = $('#rentAmount').val();
                var checkInDate = $('#checkInDate').val() ? $('#checkInDate').val().split('-').reverse().join('-') : '';
                var securityDeposit = $('#securityDeposit').val(); var rentDeposit = $('#rentDeposit').val();
                //var RoomNo = $('#RoomNo').val();
                var RoomId = $('#RoomId').val();
                RoomId = RoomId.split(",");
                RoomId = RoomId['0'];
                var Occupancy = $('#Occupancy').val(); 
                var data = {
                   propertyId:@Model.PropertyId,name: name, mobile: mobile, email: email,securityAmount: securityAmount, monthlyRent: rentAmount,
                    securityDeposit: securityDeposit, checkInDate: checkInDate, RoomId: RoomId, Occupancy: Occupancy
                };

                loading.show('#btnAddTenant');
                $.post("/MyTenant/AddNewTenant", data, function (data) {
                    if (data.Success) {
                        showSuccessMessage(data.Message);
                        closeModal();
                    }
                    else
                        showError(data.Message);
                    loading.hide('#btnAddTenant','Submit');
                });
            });


        });

    });

         

        function closeModal() {
            $('#tenantModal').addClass('d_none');
            $('#tenantModal').remove();
        }

    </script>