﻿
@using FH.User.Entities;
@model IEnumerable<TenantMaster>

<script>
    console.log(@ViewBag.PorpertyList);
</script>

<div class="agent-bg pt-4 pb-4" id="dvMyTenant">
    <div class="container">
        <div class="">
            <h1 class="text-center">My Earning</h1>
        </div>
        <div class="clearfix"></div>
        <div class="content-box p-3">
            <form action="/MyTenant/TenantListNew" method="get">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" name="propertyId">
                                <option value="">All Properties</option>
                                @if (Model != null)
                                {
                                    foreach (var item in ViewBag.PorpertyList)
                                    {
                                        <option value="@item.PropertyId" @(item.PropertyId.ToString() == ViewBag.propertyid.ToString() ? "selected" : "")>@item.PropertyId</option>
                                    }
                                }
                            </select>
                            @*<input type="text" name="propertyId" class="form-control" value="@(ViewBag.PropertyId==0?"":ViewBag.PropertyId)" placeholder="Property ID" />*@

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="mobile" class="form-control" value="@ViewBag.Mobile" placeholder="Tenant Mobile" />
                        </div> 
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" name="RoomNo" class="form-control" value="" placeholder="Room No" />

                            @*<input type="text" name="RoomNo" class="form-control" value="@ViewBag.RoomNo" placeholder="Room No" />*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select name="IsActive1" class="form-control">
                                <option value="1" selected>Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">Search </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <br />
        <div class="content-box p-3">
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>Total Rent Collection</h5>
                    <p>₹ @ViewBag.SearchTotalRentAmount</p>
                </div>
                <div class="col-md-4">
                    <h5>Rent Collected</h5>
                    <p>₹ @ViewBag.SearchPaidRentAmount</p>
                </div>
                <div class="col-md-4">
                    <h5>Remaining Collection</h5>
                    <p>₹ @ViewBag.SearchRemaingRentAmount</p>
                </div>
            </div>
        </div>
        <br />
        <div class="content-box p-3">
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>Total Security Collection</h5>
                    <p>₹ @ViewBag.SearchTotalSecurityAmount</p>
                </div>
                <div class="col-md-4">
                    <h5>Security Collected</h5>
                    <p>₹ @ViewBag.SearchPaidSecurityAmount</p>
                </div>
                <div class="col-md-4">
                    <h5>Remaining Collection</h5>
                    <p>₹ @ViewBag.SearchRemaingSecurityAmount</p>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table no-footer table-hover table-striped" id="mytable">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Room No.</th>
                                <th>Basic</th>
                                <th>Check-In Datails</th>
                                <th>Payment Details</th>
                                <th>This Month Rent Pending</th>
                                <th>Security Diposit</th>
                                <th>Security Pending</th>
                                <th style="min-width: 115px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.PropertyId</td>
                                        <td>
                                            @if (item.RoomNo != 0)
                                            {@item.RoomNo if (item.Occupancy == 0.25)
                                            { <span>(Four Sharing)</span> }
                                            else if (item.Occupancy.ToString() == "0.33")
                                            { <span>(Triple Sharing)</span> }
                                            else if (item.Occupancy == 0.5)
                                            { <span>(Double Sharing)</span> }
                                            else
                                            { <span>(Private)</span>}
                                        }
                                        </td>
                                        <td>
                                            <label><b>Tenant Id: </b>@item.TenantId</label>
                                            <label><b>Name: </b>@item.Name</label>
                                            <label><b>Mobile: </b>@item.Mobile</label>
                                        </td>
                                        <td>
                                            <label><b>CheckIn Date: </b>@(item.CheckInDate != null ? ((DateTime)item.CheckInDate).ToString("dd MMM yyyy") : "")</label>
                                            <label><b>CheckOutDate: </b>@(item.CheckOutDate != null ? ((DateTime)item.CheckOutDate).ToString("dd MMM yyyy") : "")</label>
                                            <label><b>CheckOut Request: </b>@(item.CheckOutDate != null ? ((DateTime)item.CheckOutDate).ToString("dd MMM yyyy") : "")</label>
                                        </td>
                                        <td>
                                            <label><b>Rent: </b>@item.MonthlyRent</label>
                                            <label><b>Security: </b>@item.SecurityAmount</label>
                                        </td>
                                        <td>
                                            @if (item.ThisMonthRent == 0)
                                            {<span style="color:green;">0</span> }
                                            else if (item.ThisMonthRentPaid > 0)
                                            {
                                                <span style="color:green;">@item.ThisMonthRent (Paid)</span>
                                            }
                                            else 
                                            { <span style="color:red;"> @item.ThisMonthRent </span>}
                                        </td>
                                        <td>
                                            @item.SecurityDeposit
                                        </td>
                                        @{ var SecurityPending = item.SecurityAmount - item.SecurityDeposit; }
                                        <td>
                                            @if (SecurityPending == 0)
                                            {<span style="color:green;">Paid</span> }
                                            else
                                            { <span style="color:red;"> @SecurityPending </span>}
                                        </td>
                                        <td><button onclick="getTenantPaymentLog(@item.TenantId)" class="btn-primary btn-sm">Show History</button> <br /> <br /> <a href="/myTenant/EditTenant?TenantId=@item.TenantId" target="_blank" class="btn-primary btn-sm">Edit</a> </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        No Data Available
                                    </td>
                                </tr>
                            }


                        </tbody>
                        <thead>
                            <tr></tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>



<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#mytable').DataTable({
            "paging": false,
            dom: 'Bfrtip',
            buttons: [
                
            ],
        });
    });
</script>
<style>

    .container {
        max-width: 1295px;
    }
    label {
        display: inline-block;
        margin-bottom: 0px;
        width: 100%;
    }

    .agent-nav ul li:nth-child(4) a {
        background: #F3E5F5 !important;
        color: #555;
        font-weight: 700;
    }
    .agent-nav ul li:nth-child(2) a {
        background: #9234ab;
    }
    .agent-nav ul li:nth-child(1) a {
        background: #BA68C8 !important;
    }
    .agent-nav ul li:nth-child(3) a {
        background: #b955ca !important;
    }
    .btn-primary {
        background: #AB47BC;
        transition: all 0.45s;
        border: 1px solid #AB47BC;
    }
    a.btn-primary.btn-sm {
        text-decoration:none;
    }
        .btn-primary:hover {
            color: #AB47BC;
            background: white !important;
            transition: all 0.45s;
            border: 1px solid #AB47BC !important;
        }
 
    .table th {
        background-color: #BA68C8 !important;
        color: #fff;
    }
    .btn-primary:visited {
        border: 1px solid #da241a !important;
        background: #9234ab !important;
        outline: 0px !important;
        border: 0px !important;
        box-shadow: none !important;
    }
    .phone-circle {
        border: 1px solid #4A148C;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 18px;
        color: #4A148C;
        transform: rotate(90deg);
    }
    .float-right {
        float: right !important;
        margin-left: 12px;
    }

    .dt-buttons {
        display: inline;
    }

</style>

<script>
    function getTenantPaymentLog(tId) {
        if (tId > 0) {
            $.get("/mytenant/getTenantPaymentLog", { tenantId: tId }, function (data) {
                if (data.Success == false) {
                    showError("Something went wrong,Please try again.");
                    return;
                }
                else {
                    $('#tenantLogModel').remove();
                    $('body').append(data);
                    $('#tenantLogModel').modal('show');
                }
            });
        }
    }

    function closeModel() {
        $('#tenantLogModel').modal('hide');
        $('#tenantLogModel').remove();
    }

    $(document).ready(function(){
        $(".dt-button").addClass("btn btn-primary");
        setTimeout(function () { $(".dt-button").addClass("btn btn-primary"); }, 3);
    });
</script>
