﻿@using FH.Agent_Web.ViewModel;
@using FH.User.Entities;
@model VMPaymentDetails


<div class="modal-box active" id="tenantModal">
    <div class="modal-box-header text-center text-white">
        <span class="back-btn" onclick="closeModal()"><span class="fa fa-arrow-left"></span></span>
        <span class="search-box-title">Payment History</span>
    </div>
    <div class="modal-box-body">
        <div class="agent-bg pt-2 pb-4">
            <div class="container">
 
                @if(Model.TanentStayDetails != null)
                {

                    <div class="search-list-box">
                        <div class="card">
                            <div class="row text-center" style="padding: 2px;">
                                  
                                <div class="col-4 col-sm-4">
                                    <h2 class="property_detail_title2" id="RentFormShow">Collect Rent</h2>
                                </div> 
                                <div class="col-4 col-sm-4">
                                    <h2 class="property_detail_title2" id="SecFormShow">Collect Security</h2>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <h2 class="property_detail_title2" id="RSecFormShow">Refund Security</h2>
                                </div>
                            </div>
                        </div><br />
                        <div class="card RentForm" style="display: none; padding: 5px;">
                            <!--
        <div class="row">
            <div class="col-12">
                <h2 class="property_detail_title2">Collect Rent</h2>
            </div>
        </div> -->
                            <div class="row paytype rent">
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Rent</label>
                                        <input type="hidden" id="TenantId" value="@Model.TanentStayDetails.TenantId" class="form-control hidden" data-rent="@Model.TanentStayDetails.TenantId" readonly />
                                        <input type="text" id="rentAmount" value="@Model.TanentStayDetails.MonthlyRent" class="form-control" data-rent="@Model.TanentStayDetails.MonthlyRent" readonly />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <input type="text" id="rentForMonthStartDate" value="@Model.TanentStayDetails.FromDate.ToString("dd MMM yyyy")" class="form-control" placeholder="From Date" readonly />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <input type="text" id="rentForMonthEndDate" value="@Model.TanentStayDetails.ToDate.ToString("dd MMM yyyy")" class="form-control" placeholder="To Date" readonly />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Remark</label>
                                        <input type="text" id="RRemark" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <div class="form-group">
                                        @if (@Model.TanentStayDetails.MonthlyRent > 0)
                                        {
                                            <button id="CollectRent" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block">Collect Rent</button>
                                            <button id="CollectRentC" style="border-radius:0px;display:none;" class="btn btn-primary btn-primary-border btn-block">Confrim Collect Rent</button>
                                        }
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <div class="form-group">
                                        <div id="copyLinkbtn">
                                        </div>
                                        @if (@Model.TanentStayDetails.MonthlyRent > 0)
                                        {
                                            <button id="RSendPaymentLink" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block RSendPaymentLink">Send Payment Link</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card SecForm" style="display: none; padding: 5px;">
                            <!--
        <div class="row">
            <div class="col-12">
                <h2 class="property_detail_title2">Collect Security</h2>
            </div>
        </div>
            -->
                            <div class="row paytype rent">
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Security Amount</label>
                                        <input type="number" id="SecurityAmountDue" value="@Model.TanentStayDetails.SecurityAmountDue" max="@Model.TanentStayDetails.SecurityAmountDue" class="form-control" data-rent="@Model.TanentStayDetails.SecurityAmountDue" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Remark</label>
                                        <input type="text" id="SRemark" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <div class="form-group">
                                        <button id="CollectSecurity" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block">Collect Security</button>
                                        <button id="CollectSecurityC" style="border-radius:0px;display:none;" class="btn btn-primary btn-primary-border btn-block">Confrim Collect Security</button>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <div class="form-group">
                                        <div id="ScopyLinkbtn">
                                        </div>
                                        @if (@Model.TanentStayDetails.SecurityAmountDue > 0)
                                        {
                                            <button id="SSendPaymentLink" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block SSendPaymentLink">Send Payment Link</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card RSecForm" style="display: none; padding: 5px;">
                            <!--
        <div class="row">
            <div class="col-12">
                <h2 class="property_detail_title2">Collect Security</h2>
            </div>
        </div>
            -->
                            <div class="row paytype rent">
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Security Amount</label>
                                        <input type="number" id="RSecurityDeposit" value="@Model.TanentStayDetails.SecurityDeposit" max="@Model.TanentStayDetails.SecurityDeposit" class="form-control" data-rent="@Model.TanentStayDetails.SecurityDeposit" />
                                    </div>
                                </div> 
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Remark</label>
                                        <input type="text" id="RSRemark" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <div class="form-group">
                                        <button id="RSecurity" style="border-radius:0px" class="btn btn-primary btn-primary-border btn-block">Refund Security</button>
                                        <button id="RSecurityC" style="border-radius:0px;display:none;" class="btn btn-primary btn-primary-border btn-block">Confrim Cash Entry For Security Refund</button>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <div class="form-group">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                }


                <div class="">
                    <div class="row">
                        <div class="col-md-9 border border-top-0 border-right-0 border-bottom-0">
                            @if (Model != null)
                            {
                                foreach (var item in Model.TenantPaymentHistory)
                                {
                                    <div class="search-list-box">
                                        <div class="card">
                                            <div class="card-body p-2" style="background-color:white">
                                                <div class="row text-center border-b-1 m-0">
                                                    <div class="col-4 border-r-1 pl-1 pr-1">
                                                        <p class="m-0 font-weight-bold">@item.PaymentId </p>
                                                        <p class="m-0"><small>Payment ID</small></p>
                                                    </div>
                                                    <div class="col-4 border-r-1 pl-1 pr-1">
                                                        <p class="m-0">@item.DepositAmount</p>
                                                        <p class="m-0"><small>Amount</small></p>
                                                    </div>
                                                    <div class="col-4 pl-1 pr-1">
                                                        <p class="m-0">@item.PaymentType</p>
                                                        <p class="m-0"><small>Payment Type</small></p>
                                                    </div>
                                                </div>
                                                <div class="row text-center m-0">
                                                    <div class="col-4 pl-1 pr-1 border-r-1">
                                                        <p class="m-0">@(item.RentForMonthStartDate!=null?(Convert.ToDateTime(item.RentForMonthStartDate).ToString("dd MMM yyyy")):"NA")</p>
                                                        <p class="m-0"><small>Month</small></p>
                                                    </div>
                                                    <div class="col-4 border-r-1 pl-1 pr-1">
                                                        <p class="m-0">@item.PaymentMode </p>
                                                        <p class="m-0"><small>Payment Mode</small></p>
                                                    </div>
                                                    <div class="col-4 pl-1 pr-1">
                                                        <p class="m-0">@item.CreatedOn.ToString("dd MMM yyyy")</p>
                                                        <p class="m-0"><small>Payment Date</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="p-2 pl-0">
                                                <ul class="property_btn_list dontOpen">
                                                    <li>
                                                        <a href="/mytenant/DownloadInvoice?invoiceId=@item.PaymentId" class="btn btn-primary">Download</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    //RentForm,SecForm
    $("#RentFormShow").click(function () {
        $(".RentForm").show();
        $(".SecForm").hide();
        $(".RSecForm").hide();
    });

    $("#SecFormShow").click(function () {
        $(".RentForm").hide();
        $(".SecForm").show();
        $(".RSecForm").hide();
    });

    $("#RSecFormShow").click(function () {
        $(".RentForm").hide();
        $(".SecForm").hide();
        $(".RSecForm").show();
    });


    $("#RSecurityDeposit").change(function () {

        var maximumVal = $(this).attr('max');
        maximumVal = parseFloat(maximumVal);
        var tvalue = $(this).val();
        tvalue = parseFloat(tvalue);
        maximumVal = maximumVal + 1;
        if (maximumVal <= tvalue) {
            console.log(tvalue);
            console.log(maximumVal);

            $(this).val((maximumVal - 1));
        }
    });

    $("#SecurityAmountDue").change(function () {

        var maximumVal = $(this).attr('max');
        maximumVal = parseFloat(maximumVal);
        var tvalue = $(this).val();
        tvalue = parseFloat(tvalue);
        maximumVal = maximumVal + 1;
        if (maximumVal <= tvalue) {
            console.log(tvalue);
            console.log(maximumVal);

            $(this).val((maximumVal - 1));
        }
    });



    //Refund Security Code Start
    //RSecurityDeposit, RSRemark, RSecurity, RSecurityC
    $("#RSecurity").click(function () {
        $("#RSecurityC").show();
        $(this).hide();
    });

    $('#RSecurityC').click(function () {
        $(this).hide();
        var TenantId = $('#TenantId').val();
        var RSecurityDeposit = $('#RSecurityDeposit').val();
        var RSRemark = $('#RSRemark').val();

        if (SecurityAmountDue == 0) {
            showError("Already Paid");
        } else if (RSRemark == "") {
            showError("Please Fill Remark");
        } else {
            var data = {
                'TenantId': TenantId,
                'rentAmount': RSecurityDeposit,
                'rentForMonthStartDate': '',
                'rentForMonthEndDate': '',
                'SRemark': RSRemark,
            };
            $.post('/MyTenant/RefundSecurity', data, function (res) {
                if (res.Success == true) {

                    showSuccessMessage(res.Message);
                    //redirect(res.Data);
                }
                else
                    showError(res.Message);
            });
        }

    });

    // Refund Secrity Code End




    //CollectSecurity payment code start

    $("#CollectSecurity").click(function () {
        $("#CollectSecurityC").show();
        $(this).hide();
    });

    $('#CollectSecurityC').click(function () {
        $(this).hide();
        var TenantId = $('#TenantId').val();
        var SecurityAmountDue = $('#SecurityAmountDue').val();
        var SRemark = $('#SRemark').val();
        if (SecurityAmountDue == 0) {
            showError("Already Paid");
        } else if (SRemark == "") {
            showError("Please Fill Remark");
        } else {
            var data = {
                'TenantId': TenantId,
                'rentAmount': SecurityAmountDue,
                'rentForMonthStartDate': '',
                'rentForMonthEndDate': '',
                'SRemark': SRemark,
            };
            $.post('/MyTenant/CollectSecurity', data, function (res) {
                if (res.Success == true) {

                    showSuccessMessage(res.Message);
                    //redirect(res.Data);
                }
                else
                    showError(res.Message);
            });
        }

    });


    //CollectSecurity payment code end




    $("#CollectRent").click(function () {
        $("#CollectRentC").show();
        $(this).hide();
    });

    $('#CollectRentC').click(function () {
        $(this).hide();
        var TenantId = $('#TenantId').val();
        var rentAmount = $('#rentAmount').val();
        var rentForMonthStartDate = $('#rentForMonthStartDate').val();
        var rentForMonthEndDate = $('#rentForMonthEndDate').val();
        var SRemark = $('#RRemark').val();
        if (rentAmount == 0) {
            showError("Already Paid");
        } else if (SRemark == "") {
            showError("Please Fill Remark");
        } else {
            var data = {
                'TenantId': TenantId,
                'rentAmount': rentAmount,
                'rentForMonthStartDate': rentForMonthStartDate,
                'rentForMonthEndDate': rentForMonthEndDate,
                'SRemark': SRemark,
            };
            $.post('/MyTenant/CollectPayment', data, function (res) {
                if (res.Success == true) {
                    //$("#copyLinkbtn").html("https://haltn.com/user/Pbl/" + res.Message);
                    showSuccessMessage("Payment Link Send Successfully.");
                    //redirect(res.Data);
                }
                else
                    showError(res.Message);
            });
        }

    });



    $("#RSendPaymentLink").click(function () {
        var TenantId = $('#TenantId').val();
        var rentAmount = $('#rentAmount').val();
        var rentForMonthStartDate = $('#rentForMonthStartDate').val();
        var rentForMonthEndDate = $('#rentForMonthEndDate').val();
        if (rentAmount == 0) {
            showError("Already Paid");
        } else {
            var data = {
                'TenantId': TenantId,
                'rentAmount': rentAmount,
                'rentForMonthStartDate': rentForMonthStartDate,
                'rentForMonthEndDate': rentForMonthEndDate
            };
            $.post('/MyTenant/RSendPaymentLink', data, function (res) {
                if (res.Success == true) {
                    showSuccessMessage("Payment Link Send Successfully.");
                    $("#copyLinkbtn").html("https://haltn.com/user/Pbl/" + res.Message);
                    //redirect(res.Data);
                }
                else
                    showError(res.Message);
            });
        }
    });
     
    //send payment link for security
    $("#SSendPaymentLink").click(function () {
        var TenantId = $('#TenantId').val();
        var rentAmount = $('#SecurityAmountDue').val();
        if (rentAmount == 0) {
            showError("Already Paid");
        } else {
            var data = {
                'TenantId': TenantId,
                'rentAmount': rentAmount
            };
            $.post('/MyTenant/SSendPaymentLink', data, function (res) {
                if (res.Success == true) {
                    showSuccessMessage("Payment Link Send Successfully.");
                    $("#ScopyLinkbtn").html("https://haltn.com/user/Pbl/" + res.Message);
                    //redirect(res.Data);
                }
                else
                    showError(res.Message);
            });
        }
    });

</script>




<style>
    .form-control {
        border: 2px solid #ced4da;
        height: calc(1.5em + .75rem + 0px) !important;
    }

    .dv-list-item {
        line-height: 31px;
        padding: 0px 23px;
        border-radius: 0px;
    }

    div#ScopyLinkbtn {
        border: 1px solid #ccc;
        padding: 0px 0px 0px 0px;
        background-color: #c8c8c8;
        font-weight: 700;
    }

    div#copyLinkbtn {
        border: 1px solid #ccc;
        padding: 0px 0px 0px 0px;
        background-color: #c8c8c8;
        font-weight: 700;
    }
</style>

