﻿@using FH.User.Entities;
@model IEnumerable<TenantMaster>

<div class="title-stripe">
    <h1>My Tenant</h1>
</div>
<div class="agent-bg pt-2 pb-4">
    <div class="container">
        <div class="content-box p-3">
            <form action="/MyTenant/TenantList" method="get">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" name="propertyId">
                                <option value="">All Properties</option>
                                @if (Model != null)
                                {
                                    foreach (var item in ViewBag.PorpertyList)
                                    {
                                        <option value="@item.PropertyId" @(item.PropertyId.ToString() == ViewBag.propertyid.ToString() ? "selected" : "")>@item.PropertyId</option>
                                    }
                                }
                            </select>
                            @*<input type="text" name="propertyId" class="form-control" value="@(ViewBag.PropertyId==0?"":ViewBag.PropertyId)" placeholder="Property ID" />*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="mobile" class="form-control" value="@ViewBag.Mobile" placeholder="Tenant Mobile" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @*<input type="text" name="RoomNo" class="form-control" value="@ViewBag.RoomNo" placeholder="Room No" />*@
                            <input type="text" name="RoomNo" class="form-control" value="" placeholder="Room No" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="IsActive1" class="form-control">
                                <option value="1" selected>Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Search </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <div class="">
            <div class="row">
                <div class="col-md-9 border border-top-0 border-right-0 border-bottom-0">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="search-list-box">
                                <div class="card">
                                    <div class="white_box">
                                        <h1 class="property_detail_title">@item.TenantId | @(item.Name)</h1>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row text-center border-b-1 m-0">
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@item.PropertyId</p>
                                                <p class="m-0"><small>Property ID</small></p>
                                            </div>
                                            <div class="col-4 border-r-1 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">@item.MonthlyRent</p>
                                                <p class="m-0"><small>Monthly Rent</small></p>
                                            </div>
                                            <div class="col-4 pl-1 pr-1">
                                                <p class="m-0 font-weight-bold">
                                                    @if (item.RoomNo != 0)
                                                    {@item.RoomNo
                                                    if (item.Occupancy == 0.25)
                                                    { <span>(Four Sharing)</span> }
                                                    else if (item.Occupancy.ToString() == "0.33")
                                                    { <span>(Triple Sharing)</span> }
                                                    else if (item.Occupancy == 0.5)
                                                    { <span>(Double Sharing)</span> }
                                                    else
                                                    { <span>(Private)</span>}
                                                }
                                                </p>
                                            <p class="m-0"><small>Room No.</small></p>
                                        </div> 

                                    </div>
                                    <div class="row text-center border-b-1 m-0">
                                        <div class="col-4 border-r-1 pl-1 pr-1">
                                            <p class="m-0 font-weight-bold">@(item.CheckInDate != null ? ((DateTime)item.CheckInDate).ToString("dd MMM yyyy") : "")</p>
                                            <p class="m-0"><small>Check In Date</small></p>
                                        </div>
                                        <div class="col-4 border-r-1 pl-1 pr-1">
                                            <p class="m-0 font-weight-bold">@(item.CheckOutDate != null ? ((DateTime)item.CheckOutDate).ToString("dd MMM yyyy") : "")</p>
                                            <p class="m-0"><small>Check Out Date</small></p>
                                        </div>
                                        <div class="col-4 pr-1">
                                            <p class="m-0 font-weight-bold">@(item.UpdatedOn != null ? ((DateTime)item.UpdatedOn).ToString("dd MMM yyyy") : "")</p>
                                            <p class="m-0"><small>Check-Out Request On</small></p>
                                        </div>
                                    </div>
                                    <div class="row text-center m-0">
                                        <div class="col-4 border-r-1 pl-1 pr-1">
                                            <p class="m-0 font-weight-bold">@item.Mobile</p>
                                            <p class="m-0"><small>Mobile</small></p>
                                        </div>
                                        <div class="col-4 border-r-1 pl-1 pr-1">
                                            <p class="m-0 font-weight-bold">
                                                @if (item.RentPaid != 0)
                                                {<label style="color:green;">Paid</label>}
                                                else
                                                { <label style="color:red;">Not Paid</label>}
                                            </p>
                                            <p class="m-0"><small>This Month Rent Status</small></p>
                                        </div>
                                        <div class="col-4 border-r-1 pl-1 pr-1">
                                            <p class="m-0 font-weight-bold">
                                                @{ var SecurityPending = item.SecurityAmount - item.SecurityDeposit; }
                                                @if (SecurityPending == 0)
                                                {<label style="color:green;">Paid</label>}
                                                else 
                                                {  <span style="color:red;"> @SecurityPending </span> }
                                            </p>
                                            <p class="m-0"><small>Security Status</small></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="p-2 pl-0">
                                    <ul class="property_btn_list dontOpen">
                                        <li>
                                            <button type="button" class=" btn btn-primary btn-primary-border" onclick="getPaymentHistory(@item.TenantId)">
                                                Payment History
                                            </button>
                                            &nbsp; <a href="/myTenant/EditTenant?TenantId=@item.TenantId" target="_blank" class="btn-primary btn-sm">Edit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .btn-primary {
        background: #AB47BC;
        transition: all 0.45s;
        border: 0px;
    }
    .btn-primary-border {
        background: none !important;
        border: 2px solid #4A148C !important;
        color: #4A148C;
        font-size: 12px !important;
    }
        .search-list-box .btn-primary, .btn-primary-border .badge {
            border: 1px solid #c712e6;
        }
</style>
             

<script>
    function getPaymentHistory(tId) {
        if (tId > 0) {
            $.get("/mytenant/getTenantPaymentLog", { tenantId: tId }, function (data) {
                if (data.Success == false) {
                    showError("Something went wrong,Please try again.");
                    return;
                }
                else {
                    $('#tenantModal').remove();
                    $('body').append(data);                    
                }
            });
        }
    }

    function closeModal() {
        $('#tenantModal').addClass('d_none');        
        $('#tenantModal').remove();        
    }
</script>