﻿@using FH.User.Entities;
@model UserData

@{ 
    var UserProfile = Model.UserProfile;
    var UAccount = Model.UAccount;
}

<div class="agent-bg pt-4 pb-4">
    <div class="container">
        <div class="float-left">
            <h1>Profile</h1>
        </div>      
        <div class="clearfix"></div>
        <div class="content-box p-3">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav agent-nav-tabs">
                        <li class="nav-item">
                            <a href="#personalInfo" class="nav-link active" data-toggle="tab">Personal Info</a>
                            <a href="#accountDetail" class="nav-link" data-toggle="tab">Account Detail</a>
                            <a href="#businessDetail" class="nav-link" data-toggle="tab">Business Detail</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 border border-top-0 border-right-0 border-bottom-0">
                    <div class="tab-content">
                        <div class="tab-pane active" id="personalInfo">
                            <form action="">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>Agent Name</b></label>
                                            <input class="form-control" maxlength="50" id="userName" required="required"
                                                   value="@UserProfile.UserName" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>Email</b></label>
                                            <input class="form-control" maxlength="50" id="userEmail"
                                                   value="@UserProfile.UserEmail" type="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>Mobile</b></label>
                                            <input class="form-control" maxlength="10" minlength="10" name="Mobile"
                                                   required="required" value="@UserProfile.UserMobile" type="tel" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="submit" id="btnPersonalDetail" class=" btn btn-primary" onclick="updatePersonalDetail()">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="accountDetail">
                            <div class="row" style="border: 1px solid #787878; margin-bottom:10px; border-radius: 6px;" id="accountsection">
                                <div class="col-sm-9">
                                    <h2>Add New Account</h2>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @*<button class="form-control btn btn-primary m-1" id="AccountAdd" onclick="AccountAdd(uploadedFilePaths)">Add Account</button>*@
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control" id="AccountName" placeholder="Account Nick Name" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="form-control AccountType" name="AccountType" id="AccountType">
                                            <option value="">Account Type</option>
                                            <option value="Current">Current</option>
                                            <option value="Saving">Saving</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control" id="AccountHolderName" placeholder="Account Holder Name" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control" id="BankName" placeholder="Bank Name" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control" id="AccountNo" placeholder="Bank Account No" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control" id="AccountNoC" placeholder="Confirm Bank Account No" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control" id="Ifsccode" placeholder="IFSC" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="form-control" id="AccountPan" placeholder="Account PAN Number" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" onclick="addPhotos();">Add Documents</button>
                                        @*<input type="file" class="form-control" id="FileUpload"  value="" multiple />*@
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="photoUploadSection" style="display: none;" >
                                <div class="col-md-12">
                                    <h4 class="text-primary">Upload Documents</h4>
                                </div>
                                <!-- Your photo upload section HTML here -->
                                <select class="form-control" id="ProfileType" style="max-width: 276px; margin-left: 10px;">
                                    <option value="">Select Bussiness Type</option>
                                    <option value="Individual">Individual</option>
                                    <option value="pvtplc">Private Limited / Public Limited Company</option>
                                    <option value="sp">Sole Proprietor</option>
                                    <option value="partnerfirmLlp">Partnership Firm / LLP</option>
                                </select>
                                <div class="col-md-12">
                                    <form id="frmFileUpload" action="#" method="POST" enctype="multipart/form-data" class="">
                                        <input id="fileUpload" type="file" class="d_none" multiple>
                                        <div class="col-md-12 first-box d-none">
                                            <div class="upload-images-box" onclick="fileUploader();">
                                                <img src="~/Content/images/add-more-image.png">
                                                <div class="clearfix"></div>
                                                <span class="btn btn-primary mt-4 mb-4">
                                                    <span>Upload Photos</span>
                                                </span>
                                                <ul class="image-instructions">
                                                </ul>

                                            </div>

                                        </div>

                                        <!-- Individual div start -->
                                        <div class="container mt-1 imageForms " id="Individual">
                                            <div class="row">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Upload Adhaar Card" value="Upload Adhaar Card" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Upload PAN Card" value="Upload PAN Card" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Upload Cancle Cheque" value="Upload Cancle Cheque" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Individual div end -->
                                        <!-- pvtplc div start
    Copy of PAN card (Entity Pan card). (Scan Copy)
    Copy of Signing authority PAN card and Aadhar card copy ( Scan Copy)
    Copy of 1st three and last three pages of Memorandum of Association along with the Certificate of Incorporation (Scan Copy
    Office Address proof (In Company’s Name): Copy of your Landline Telephone Bill OR Bank Account Statement (Scan Copy)
    GST Certificate. (Scan Copy)
    Cancelled cheque copy (Scan Copy)
                                                -->
                                        <div class="container mt-1 imageForms " id="pvtplc">
                                            <div class="row">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of PAN card (Entity Pan card)" value="Copy of PAN card (Entity Pan card)" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of Signing authority PAN card" value="Copy of Signing authority PAN card" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of Signing authority Aadhar card" value="Copy of Signing authority Aadhar card" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of MOA" value="Copy of MOA" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of COI" value="Copy of COI" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Office Address proof" value="Office Address proof" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="GST Certificate" value="GST Certificate" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Cancelled cheque copy" value="Cancelled cheque copy" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- pvtplc div end -->
                                        <!-- Sole Proprietor div start -->
                                        <div class="container mt-1 imageForms " id="sp">
                                            <div class="row">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of Signing authority PAN card" value="Copy of Signing authority PAN card" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of Signing authority Aadhaar card" value="Copy of Signing authority Aadhaar card" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Office Address proof" value="Office Address proof" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>

                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Business Proof / Registration Cirtificate" value="Business Proof / Registration Cirtificate" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="GST Certificate (if have)" value="GST Certificate (if have)" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Cancelled cheque copy" value="Cancelled cheque copy" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Sole Proprietor div end -->
                                        <!-- partnerfirmLlp div start -->
                                        <div class="container mt-1 imageForms " id="partnerfirmLlp">
                                            <div class="row">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of PAN card (Entity Pan card)" value="Copy of PAN card (Entity Pan card) " />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of Signing authority PAN card " value="Copy of Signing authority PAN card" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy of Signing authority Aadhaar card " value="Copy of Signing authority Aadhaar card " />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Copy Partnership Deed / LLP Agreement" value="Copy Partnership Deed / LLP Agreement" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Office Address proof" value="Office Address proof" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="GST Certificate" value="GST Certificate" />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-6 col-6">
                                                    <input disabled class="form-control" placeholder="Cancelled cheque copy." value="Cancelled cheque copy." />
                                                </div>
                                                <div class="col-sm-1 col-1">
                                                    <span class="btn btn-primary" onclick="fileUploader();">+</span>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- partnerfirmLlp div end -->


                                        <ul class="post-property-iamges">
                                        </ul>
                                        <div class="clearfix"></div><br>
                                        <div class="text-center">
                                            @*<button type="submit" class="btn btn-primary d_none" id="btn_back" onclick="back();">Back</button>*@
                                            <input type="button" onclick="AccountAdd(uploadedFilePaths);" class="btn btn-primary d_none" id="btnGallery" value="Submit" />
                                            @*<button type="submit" class="btn btn-primary d_none" id="btnGallery" onclick="btnSave();">Submit</button>*@
                                        </div>
                                    </form>
                                    <br>
                                </div>
                            </div>
                          

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Account ID</th>
                                                    <th>Account Nick Name</th>
                                                    <th>Account Type</th>
                                                    <th>Account Holder Name</th>
                                                    <th>Bank Account No</th>
                                                    <th>IFSC</th>
                                                    <th>Bank Name</th>
                                                    <th>PAN Number</th>
                                                    <th>Status</th>
                                                    @*                                                        <th>Action</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*                                                    @foreach (var item in UAccount)
                            {
                                <tr>
                                    <td><input type="text" id="AHN_@item.AccountId" class="form-control" value="@item.AccountHolderName" /></td>
                                    <td><input type="text" id="AN_@item.AccountId" class="form-control" value="@item.AccountNo" /></td>
                                    <td><input type="text" id="IFSC_@item.AccountId" class="form-control" value="@item.Ifsccode" /></td>
                                    <td><input type="text" id="BN_@item.AccountId" class="form-control" value="@item.BankName" /></td>
                                    <td>
                                        @if (item.IsActive == 1)
                                        {<label class="text-success">Active</label>} else
                                        {<label class="text-danger">InActive</label>}
                                    </td>
                                    <td><button class="btn btn-primary" onclick="UpdateAccount(@item.AccountId)" id="AUPDT_@item.AccountId">Update</button></td>
                                </tr>
                            }*@
                                                @foreach (var item in UAccount)
                                                {
                                                    <tr>
                                                        <td>@item.AccountId</td>
                                                        <td>@item.AccountName</td>
                                                        <td>@item.AccountType</td>
                                                        <td>@item.AccountHolderName</td>
                                                        <td>@item.AccountNo</td>
                                                        <td>@item.Ifsccode</td>
                                                        <td>@item.BankName</td>
                                                        <td>@item.AccountPan</td>
                                                        <td>
                                                            @if (item.IsActive == 1)
                                                            {<label class="text-success">Active</label>}
                                                            else
                                                            {<label class="text-danger">InActive</label>}
                                                        </td>
                                                        @*    <td><button class="btn btn-primary" onclick="UpdateAccount(@item.AccountId)" id="AUPDT_@item.AccountId">Update</button></td>*@
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="businessDetail">
                            <form action="">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>Company Name / Owner Name</b></label>
                                            <input class="form-control" maxlength="50" id="companyName"
                                                   value="@UserProfile.CompanyName" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="display:none;">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>Owner Name</b></label>
                                            <input class="form-control" maxlength="50" id="ownerName"
                                                   value="@UserProfile.OwnerName" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>Official Email</b></label>
                                            <input class="form-control" maxlength="50" id="officeMail"
                                                   value="@UserProfile.OfficialEmail" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>Office Address</b></label>
                                            <input class="form-control" maxlength="100" id="officeAddress"
                                                   value="@UserProfile.OfficeAddress" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>GST No. <small style="color: blue; font-size: 8px;">(If you have)</small></b></label>
                                            <input class="form-control" maxlength="30" id="gstNo"
                                                   value="@UserProfile.GSTNo" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><b>PAN No.</b></label>
                                            <input class="form-control" maxlength="30" id="panNo"
                                                   value="@UserProfile.PANNo" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <button type="button" id="btnBusinessDetail" class="btn btn-primary" onclick="updateBusinessDetail()">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $(".imageForms").hide(); 
        $("#ProfileType").change(function () { var type = $("#ProfileType").val(); console.log(type); $(".imageForms").hide(); $("#" + type).show(); });
    });
/*    $("#Ifsccode").change(function () {
        var bankifsc = $("#Ifsccode").val();
        $("#BankName").val('');
        $("#branchName").val('');
        $.get("https://ifsc.razorpay.com/" + bankifsc, function (data, status) {
            if (status == 'success') {
                $("#BankName").val(data.BANK);
                $("#branchName").val(data.BRANCH);
            } else {
                $("#BankName").val('');
                $("#branchName").val('');
            }
        });
    });*/

    function UpdateAccount(AccountId) {
        // AHN_,AN_,IFSC_,BN_
        //AccountHolderName,AccountNo,Ifsccode,BankName 
        var AccountHolderName = $("#AHN_" + AccountId).val();
        var AccountNo = $("#AN_" + AccountId).val();
        var Ifsccode = $("#IFSC_" + AccountId).val(); 
        var BankName = $("#BN_" + AccountId).val();
        var AccountPan = $("#BN_" + AccountPan).val();
        loading.show("#AUPDT_" + AccountId);
        if (AccountHolderName != '' && AccountNo != '' && Ifsccode != '' && BankName != '' && AccountPan != '') {
            $.post("/userprofile/AccountUpdate",
                { AccountId: AccountId, AccountHolderName: AccountHolderName, AccountNo: AccountNo, AccountPan: AccountPan, Ifsccode: Ifsccode, BankName: BankName }
                , function (data) {
                    if (data.Success) {
                        showSuccessMessage(data.SuccessMessage);
                        window.location.href = "";
                    }
                    else
                        showError(data.ErrorMessage);
                    loading.hide("#AUPDT_" + AccountId, 'Update');
                });
        } else {
            showError("Please fill all data.");
            loading.hide("#AUPDT_" + AccountId, 'Update');
        }

    }

    //function accountadd() {
    //    debugger;
    //    var accountholdername = $("#accountholdername").val();
    //    var accountname = $("#accountname").val();
    //    var accountnoc = $("#accountnoc").val();
    //    var accountno = $("#accountno").val();
    //    var ifsccode = $("#ifsccode").val();
    //    var bankname = $("#bankname").val();
    //    var filepath = $('#fileupload')[0].files[0];

    //    loading.show("#accountadd");
    //    if (accountholdername != '' && accountno != '' && ifsccode != '' && bankname != '' && accountname != '') {
    //        if (accountnoc == accountno) {
    //            $.post("/userprofile/accountadd",
    //                { accountholdername: accountholdername, accountno: accountno, ifsccode: ifsccode, bankname: bankname, accountname: accountname }
    //                , function (data) {
    //                    if (data.success) {
    //                        showsuccessmessage(data.successmessage);
    //                        window.location.href = "";
    //                    }
    //                    else
    //                        showerror(data.errormessage);
    //                    loading.hide("#accountadd", 'add account');
    //                });
    //        }
    //        else {
    //            showerror("account number and confirm account number should be same.");
    //            loading.hide("#accountadd", 'add account');
    //        }

    //    }
    //    else {
    //        showerror("please fill all data.");
    //        loading.hide("#accountadd", 'add account');
    //    }
    //}

    function AccountAdd(uploadedFilePaths) {
        debugger;
        var AccountHolderName = $("#AccountHolderName").val();
        var AccountName = $("#AccountName").val();
        var AccountNoC = $("#AccountNoC").val();
        var AccountNo = $("#AccountNo").val();
        var Ifsccode = $("#Ifsccode").val();
        var AccountPan = $("#AccountPan").val();
        var AccountType = $("#AccountType").val();
        var BankName = $("#BankName").val();
        loading.show("#AccountAdd");

        if (AccountHolderName != '' && AccountType != '' && AccountPan != '' &&  AccountNo != '' && Ifsccode != '' && BankName != '' && AccountName != '' && uploadedFilePaths.length!=0) {
            if (AccountNoC == AccountNo) {
                var formData = new FormData();
                for (var i = 0; i < uploadedFilePaths.length; i++) {
                    formData.append('uploadfilepaths', uploadedFilePaths[i]);
                }
                formData.append('AccountType', AccountType);
                formData.append('AccountHolderName', AccountHolderName);
                formData.append('AccountName', AccountName);
                formData.append('AccountNoC', AccountNoC);
                formData.append('AccountNo', AccountNo);
                formData.append('Ifsccode', Ifsccode);
                formData.append('AccountPan', AccountPan);
                formData.append('BankName', BankName);


                $.ajax({
                    url: '/userprofile/AccountAdd',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.Success) {
                            document.getElementById("photoUploadSection").style.display = "none";
                            showSuccessMessage(data.SuccessMessage);
                            window.location.href = "";
                        } else {
                            showError(data.ErrorMessage);
                        }
                        loading.hide("#AccountAdd", 'Add Account');
                    },
                    error: function (xhr, status, error) {
                        showError("An error occurred while processing your request.");
                        loading.hide("#AccountAdd", 'Add Account');
                    }
                });
            }
            else {
                showError("account number and confirm account number should be same.");
                loading.hide("#AccountAdd", 'add account');
            }
        }
        else {
            showError("please fill all data.");
            loading.hide("#AccountAdd", 'add account');
        }
    }


    function addPhotos() {
       // document.getElementById("accountsection").style.display = "none";
        document.getElementById("photoUploadSection").style.display = "block";
    }
    //function btnSave() {
    //  //  document.getElementById("accountsection").style.display = "block";
    //    document.getElementById("photoUploadSection").style.display = "none";

    //}


</script>

<style>
    button#AccountAdd {
        margin-top: 30px;
    }
    .agent-nav ul li:nth-child(4) a {
        background: #a53cb6;
    }
    .agent-nav ul li:nth-child(3) a {
        background: #BA68C8;
    }
    .agent-nav ul li:nth-child(2) a {
        background: #9234ab;
    }
    .btn-primary {
        background: #8E24AA;
        transition: all 0.45s;
        border: 0px;
    }
    .agent-nav ul li a.active {
        background: #F3E5F5;
        color: #555;
        font-weight: bold;
    }
    ul.agent-nav-tabs li a.active {
        background: #EDE7F6;
    }
    .form-control:disabled, .form-control[readonly] {
        background-color: #F3E5F5;
        opacity: 1;
    }
    .btn-primary:visited {
        border: 1px solid #da241a !important;
        background: #8E24AA !important;
        outline: 0px !important;
        border: 0px !important;
        box-shadow: none !important;
    }
    .btn-primary:visited {
        border: 1px solid #da241a !important;
        background: #8E24AA !important;
        outline: 0px !important;
        border: 0px !important;
        box-shadow: none !important;
    }
    .phone-circle {
        border: 1px solid #ccc;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 18px;
        color: #4A148C;
        transform: rotate(90deg);
    }
</style>

<script>
    $(document).ready(function () {
        $("#companyName").change(function () {
            console.log("hello to console");
            var companyname = $("#companyName").val();
            $("#ownerName").val(companyname);
        });
    });

    $('#fileUpload').on('change', uploadFiles);

    var uploadedFilePaths = [];

    function uploadFiles(event)
    {
        
        if (window.FormData !== undefined) {
            var fileUpload = $("#fileUpload").get(0);
            var files = fileUpload.files;
            
            $('.first-box').hide();
            $('.add-more-photos').parent().removeClass('d_none');
            $('#btn_back').removeClass('d_none');
            $('#btnGallery').removeClass('d_none');
            $('.ins2').removeClass('d_none');
            for (var i = 0; i < files.length; i++) {
                var l = $('.post-property-iamges li').length - 1;
                $('.post-property-iamges').append('<li class="li'+l+'"><div class="upload-loader"><div class="img-upload-loader"></div></div></li>');
                var formData = new FormData(document.getElementById("frmFileUpload"));
                formData.append(files[i].name, files[i]);
                formData.append("Id",l);
                $.ajax({
                    url: "@Url.Action("UploadGallery", "userprofile")",
                    type: "POST",
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data, status) {
                        debugger;
                        if (data.Success == true) {
                            var file = { FilePath: data.Url, FileName: data.File }
                            uploadedFilePaths.push(data.Url);
                            //propertyPost.GalleryDetails.push(file);
                            $('.post-property-iamges .li' + data.Id).css('background', 'url("' + data.Url + '")');
                            $('.post-property-iamges .li' + data.Id + ' .upload-loader').remove();
                            $('.li' + data.Id).append('<span class="remove-picture" data-file="' + data.File + '" data-url="' + data.Url + '"><i class="fas fa-trash-alt"></i></span>');
                        }
                        else {
                            $('.post-property-iamges .li' + data.Id).remove();
                        }
                       // AccountAdd(uploadedFilePaths);
                    },

                    error: function (jqXHR, textStatus, errorThrown) {
                        showError("Something went wrong.Please try again.");
                    }
                });
            }
        }
        else {
            showError("This browser is not supported,Please try another.");
        }
    }
      function fileUploader() {
            $('#fileUpload').click();
        }


    $('.post-property-iamges').on("click", ".remove-picture", function (e) {
        debugger;
        var parentLi = $(this).parent();
        var filePath = $(this).data('file');
        if (filePath !== "" && filePath !== undefined) {
            //$.grep(propertyPost.GalleryDetails, function (element, index) {
                //if (element.FileName === filePath) {
                    $.ajax({
                        url: "/userprofile/RemoveGalleryFile",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ imagePath: filePath }),
                        success: function (data, status) {
                            if (data.Success == true) {
                                parentLi.remove();
                                propertyPost.GalleryDetails.splice(index, 1);
                            }
                            else if (data.Success == false) {
                                showError(data.ErrorMessage);
                            }
                        }
                    });
                //}
            //});
        }
    });


</script>