﻿@using FH.User.Entities;
@model UserData

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    var isMobile = Request.Browser.IsMobileDevice;
}

@if (isMobile)
{
  @Html.Partial("_Header_Mobile")  
  @Html.Partial("_MyProfile_Mobile",Model)
  @Html.Partial("_Menu_Mobile")
}
else
{ @Html.Partial("_PartialHeader")
  @Html.Partial("_Menu_Desktop")
  @Html.Partial("_MyProfile_Desktop",Model)
}

<script>
    function updatePersonalDetail()
    {
        var postData = {
            UserName: $('#userName').val(),
            UserEmail: $('#userEmail').val()
        };

        $('#btnPersonalDetail').html('Please wait... <span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);
        $.ajax({
            url: "/userprofile/updatepersonaldetail",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData),
            success: function (data, status) {
                if (data.Success == true)
                    reload(data.Message);
                else if (data.Success == false)
                    showError(data.ErrorMessage);                
            },
            complete: function () {
                $('#btnPersonalDetail').html('Update').removeAttr("disabled");
            }
        });
    }

    function updateBusinessDetail()
    {
        var postData = {
            CompanyName: $('#companyName').val(),
            OwnerName: $('#ownerName').val(),
            OfficialEmail : $('#officeMail').val(),
            OfficeAddress: $('#officeAddress').val(),
            GSTNo: $('#gstNo').val(),
            PANNo:$('#panNo').val()
        };

        $('#btnBusinessDetail').html('Please wait... <span class="spinner-border spinner-border-sm"></span>').attr("disabled", true);
        $.ajax({
            url: "/userprofile/updatebusinessdetail",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData),
            success: function (data, status) {
                if (data.Success == true)
                    reload(data.Message);
                else if (data.Success == false)
                    showError(data.ErrorMessage);
            },
            complete: function () {
                $('#btnBusinessDetail').html('Update').removeAttr("disabled");
            }
        });
    }
</script>